@{
    ViewData["Title"] = "Ara";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model NeSever.Common.Models.Satis.SiparisAramaDetayVM

<div class="d-flex flex-row flex-column-fluid container">
    <div class="main d-flex flex-column flex-row-fluid">
        <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Sipariş Detay</h5>

                        <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                            <li class="breadcrumb-item">
                                <a href="/Admin/Satis" class="text-muted">Satış</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:;" class="text-muted">Sipariş Detay</a>
                            </li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>

        <div class="content flex-column-fluid" id="kt_content">
            <div class="card card-custom">
                <div class="card-header">
                    <div class="card-title">
                        <span class="card-icon">
                            <i class="flaticon2-delivery-package text-primary"></i>
                        </span>
                        <h3 class="card-label">Filtreleme Kriterleri</h3>
                    </div>
                    <div class="card-toolbar">
                        <div class="dropdown dropdown-inline mr-2">

                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <ul class="navi flex-column navi-hover py-2">
                                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Seçiniz:</li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-print"></i>
                                            </span>
                                            <span class="navi-text">Yazdır</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-excel-o"></i>
                                            </span>
                                            <span class="navi-text">Excel</span>
                                        </a>
                                    </li>
                                    <li class="navi-item">
                                        <a href="#" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-pdf-o"></i>
                                            </span>
                                            <span class="navi-text">PDF</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="siparisBilgileri-tab" data-toggle="tab" href="#siparisBilgileri" role="tab" aria-controls="siparisBilgileri" aria-selected="true">Sipariş Bilgileri</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="faturaBilgileri-tab" data-toggle="tab" href="#faturaBilgileri" role="tab" aria-controls="faturaBilgileri" aria-selected="false">Fatura/Gönderim Bilgileri</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="urunBilgileri-tab" data-toggle="tab" href="#urunBilgileri" role="tab" aria-controls="urunBilgileri" aria-selected="false">Sipariş Detayı (Ürün Bilgileri)(@Model.SiparisDetay.Count())</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="hareketBilgileri-tab" data-toggle="tab" href="#hareketBilgileri" role="tab" aria-controls="hareketBilgileri" aria-selected="false">Sipariş Hareketleri</a>
                        </li>
                    </ul>
                    <br />

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="siparisBilgileri" role="tabpanel" aria-labelledby="siparisBilgileri-tab">

                            <form class="kt-form kt-form--fit mb-15" id="_formSiparis">
                                <div class="row mb-6">
                                    <div class="col-lg-3">
                                        <label>Sipariş No</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.SiparisId" readonly />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Müşteri</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.KullaniciBilgileri" readonly />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Sipariş Durumu</label>
                                        <select asp-for="@Model.Siparis.SiparisDurumTipId" asp-items="@(new SelectList(Model.Siparis.SiparisDurumTipListesi,"SiparisDurumTipId","Adi"))" class="form-control selectpicker">
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Sipariş Tarihi</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.SiparisTarihi" readonly />
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <div class="col-lg-3">
                                        <label>Toplam İade</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.IadeToplam" readonly />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Ödenecek Tutar</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.OdenecekTutar" readonly />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Ödeme Durumu</label>
                                        <div class="input-group">
                                            <select asp-for="@Model.Siparis.OdemeDurumTipId" asp-items="@(new SelectList(Model.Siparis.OdemeDurumTipListesi,"OdemeDurumTipId","Adi"))" class="form-control selectpicker">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Ödeme Tipi:</label>
                                        <div class="input-group">
                                            <select asp-for="@Model.Siparis.SiparisOdemeTipId" asp-items="@(new SelectList(Model.Siparis.SiparisOdemeTipListesi,"SiparisOdemeTipId","Adi"))" class="form-control selectpicker">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <div class="col-lg-4">
                                        <label>Ürün KDV Dahil Toplam Tutar</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.UrunKdvDahilToplamTutar" readonly />
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Ürün KDV Hariç Toplam Tutar</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.UrunKdvHaricToplamTutar" readonly />
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Ürün KDV Toplam Tutar</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.UrunKdvToplamTutar" readonly />
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <div class="col-lg-3">
                                        <label>Ödeme Tipi Ücreti</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.OdemeTipUcreti" readonly />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Gönderim Ücreti</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.GonderimUcreti" readonly />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Son İşlem Tarihi</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.SonIslemTarihi" readonly />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Ödeme Tarihi</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.OdemeTarihi" readonly />
                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <div class="col-lg-3">
                                        <label>Ip Adresi</label>
                                        <input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.Siparis.KullaniciIp" readonly />
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Aktif Mi?</label>
                                        <div class="input-group">
                                            <input asp-for="@Model.Siparis.AktifMi" data-switch="true" type="checkbox" data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" />
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <div class="row">
                                <div class="col-lg-12" style="text-align:center;">
                                    <button type="button" onclick="javascript: siparisGuncelle();" class="btn btn-primary btn-primary--icon">Güncelle <i class="la la-search"></i></button>


                                    <button class="btn btn-bg-danger btn-danger--icon" onclick="javascript: sbTemizle();">
                                        <span style="color:white;">
                                            <span>İptal</span>
                                            <i class="la la-close" style="color:white;"></i>
                                        </span>
                                    </button>
                                </div>

                            </div>
                        </div>




                        <div class="tab-pane fade" id="faturaBilgileri" role="tabpanel" aria-labelledby="faturaBilgileri-tab">

                            <div class="row">
                                <div class="col-lg-6">

                                    <table id="dtFatura" class="table table-bordered table-hover table-checkable">
                                        <thead>
                                            <tr>
                                                <th colspan="2" style="background-color:dodgerblue;color:white;text-align:center;">FATURA BİLGİLERİ</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>Adres Adı</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.FaturaAdresi.AdresAdi" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Fatura Tipi</td>
                                            <td>
                                                <select class="selectpicker form-control" style="height:25px;" asp-for="@Model.FaturaAdresi.FaturaTipId" onchange="faturaTipSecim()">
                                                    <option value="1">Bireysel</option>
                                                    <option value="2">Kurumsal</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>T.C. Kimlik No</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.FaturaAdresi.TcNo" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Adı</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.FaturaAdresi.Ad" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Soyadı</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.FaturaAdresi.Soyad" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Vergi No</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="Vergi No Giriniz..." asp-for="@Model.FaturaAdresi.VergiNo" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Vergi Dairesi</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="Vergi Dairesi Giriniz..." asp-for="@Model.FaturaAdresi.VergiDairesi" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Firma Unvanı</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="Firma Ünvanı Giriniz..." asp-for="@Model.FaturaAdresi.FirmaUnvan" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Açıklama</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="Açıklama Giriniz..." asp-for="@Model.FaturaAdresi.Aciklama" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Adres</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.FaturaAdresi.AdresBilgi" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>İl</td>
                                            <td>
                                                <select id="drpAdresIlFatura" style="height:25px;" asp-for="@Model.FaturaAdresi.AdresIlId" asp-items="@(new SelectList(Model.AdresIlListesi,"AdresIlId","IlAdi"))" class="form-control selectpicker">
                                                    <option value="" selected>Lütfen Seçiniz</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>İlçe</td>
                                            <td>
                                                <select id="drpAdresIlceFatura" class="form-control selectpicker" style="height:25px;" asp-for="@Model.FaturaAdresi.AdresIlceId" asp-items="@(new SelectList(Model.AdresIlceListesiFatura,"AdresIlceId","IlceAdi"))">
                                                    <option value="" selected>Lütfen Seçiniz</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Telefon 1</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.FaturaAdresi.Telefon1" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Telefon 2</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.FaturaAdresi.Telefon2" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Posta Kodu</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.FaturaAdresi.PostaKodu" readonly /></td>
                                        </tr>
                                    </table>

                                </div>

                                <div class="col-lg-6">

                                    <table id="dtGonderim" class="table table-bordered table-hover table-checkable">
                                        <thead>
                                            <tr>
                                                <th colspan="2" style="background-color:dodgerblue;color:white;text-align:center;">GÖNDERİM BİLGİLERİ</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td>Adres Adı</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.GonderimAdresi.AdresAdi" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Fatura Tipi</td>
                                            <td>
                                                <select class="selectpicker form-control" style="height:25px;" asp-for="@Model.GonderimAdresi.FaturaTipId" onchange="faturaTipSecim()">
                                                    <option value="1">Bireysel</option>
                                                    <option value="2">Kurumsal</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>T.C. Kimlik No</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.GonderimAdresi.TcNo" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Adı</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.GonderimAdresi.Ad" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Soyadı</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.GonderimAdresi.Soyad" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Vergi No</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="Vergi No Giriniz..." asp-for="@Model.GonderimAdresi.VergiNo" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Vergi Dairesi</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="Vergi Dairesi Giriniz..." asp-for="@Model.GonderimAdresi.VergiDairesi" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Firma Unvanı</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="Firma Ünvanı Giriniz..." asp-for="@Model.GonderimAdresi.FirmaUnvan" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Açıklama</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="Açıklama Giriniz..." asp-for="@Model.GonderimAdresi.Aciklama" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Adres</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.GonderimAdresi.AdresBilgi" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>İl</td>
                                            <td>
                                                <select id="drpAdresIlGonderim" style="height:25px;" asp-for="@Model.GonderimAdresi.AdresIlId" asp-items="@(new SelectList(Model.AdresIlListesi,"AdresIlId","IlAdi"))" class="form-control selectpicker">
                                                    <option value="" selected>Lütfen Seçiniz</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>İlçe</td>
                                            <td>
                                                <select id="drpAdresIlceGonderim" class="form-control selectpicker" style="height:25px;" asp-for="@Model.GonderimAdresi.AdresIlceId" asp-items="@(new SelectList(Model.AdresIlceListesiGonderim,"AdresIlceId","IlceAdi"))">
                                                    <option value="" selected>Lütfen Seçiniz</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Telefon 1</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.GonderimAdresi.Telefon1" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Telefon 2</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.GonderimAdresi.Telefon2" readonly /></td>
                                        </tr>
                                        <tr>
                                            <td>Posta Kodu</td>
                                            <td><input type="text" class="form-control datatable-input" placeholder="" asp-for="@Model.GonderimAdresi.PostaKodu" readonly /></td>
                                        </tr>
                                    </table>

                                </div>                              
                            </div>
                            
                        </div>



                        <div class="tab-pane fade" id="urunBilgileri" role="tabpanel" aria-labelledby="urunBilgileri-tab">

                            <table id="dtUrunDetay" class="table table-bordered table-hover table-checkable">
                                <thead>
                                    <tr>
                                        <th>Resim</th>
                                        <th>Ürün Kodu</th>
                                        <th>Ürün</th>
                                        <th>Adet</th>
                                        <th>KDV Birim Tutarı</th>
                                        <th>KDV Hariç Birim Tutarı</th>
                                        <th>KDV Dahil Birim Tutarı</th>
                                        <th>Toplam KDV Tutar</th>
                                        <th>Toplam KDV Hariç Tutar</th>
                                        <th>Toplam KDV Dahil Tutar</th>
                                        <th>Aktif mi?</th>
                                    </tr>
                                </thead>
                                @foreach(var item in Model.SiparisDetay)
                                {
                            <tr>
                                <td><img style="max-height:50px;max-width:50px" src="@item.ResimBase64" /></td>
                                <td>@item.UrunId</td>
                                <td>@item.UrunAdi</td>
                                <td>@item.Adet</td>
                                <td>@item.HesaplananBirimKdvTutar</td>
                                <td>@item.HesaplananBirimKdvHaricTutar</td>
                                <td>@item.HesaplananBirimKdvDahilTutar</td>
                                <td>@item.HesaplananKdvTutar</td>
                                <td>@item.HesaplananKdvHaricTutar</td>
                                <td>@item.HesaplananKdvDahilTutar</td>
                                <td><input asp-for="@item.AktifMi" data-switch="true" type="checkbox" data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" onfocus="javascript: siparisDetayDurum(@item.SiparisDetayId);" /></td>
                            </tr>
                                }
                                
                            </table>

                        </div>


                        <div class="tab-pane fade" id="hareketBilgileri" role="tabpanel" aria-labelledby="hareketBilgileri-tab">

                            <form class="kt-form kt-form--fit mb-15" id="_shFormEkle">
                                <input value="@Model.Siparis.SiparisId" type="hidden" asp-for="@Model.SiparisHareketEkle.SiparisId" />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>Açıklama</label>
                                        <input id="shAciklama" maxlength="500" type="text" class="form-control datatable-input" placeholder="Açıklama Giriniz..." asp-for="@Model.SiparisHareketEkle.Aciklama" />
                                    </div>

                                </div><br />

                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Tarih</label>
                                        <div class="input-daterange input-group" id="tarih">
                                            <input id="shtarih" type="text" class="form-control" placeholder="Tarih Giriniz..." autocomplete="off" asp-for="@Model.SiparisHareketEkle.Tarih" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-ellipsis-h"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Aktif Mi?</label>
                                        <div class="input-group">
                                            <input id="shAktifmi" asp-for="@Model.SiparisHareketEkle.AktifMi" data-switch="true" type="checkbox" data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" />
                                        </div>
                                    </div>
                                </div><br />

                                <div class="row">
                                    <div class="col-lg-12" style="text-align:center;">
                                        <button type="button" onclick="javascript: siparisHareketEkle();" class="btn btn-primary btn-primary--icon">Ekle <i class="la la-search"></i></button>


                                        <button class="btn btn-secondary btn-secondary--icon" onclick="javascript: shTemizle();">
                                            <span>
                                                <i class="la la-close"></i>
                                                <span>Temizle</span>
                                            </span>
                                        </button>
                                    </div>

                                </div>
                            </form><br /><br />


                            <div class="row">

                                <table id="dtSiparisHareket" class="table table-bordered table-hover table-checkable">
                                <thead>
                                    <tr>
                                        <th>Açıklama</th>
                                        <th>Tarih</th>
                                        <th>Aktif mi?</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                @foreach(var item in Model.SiparisHareket)
                                {
                                    <tr>
                                        <td style="word-wrap: break-word; max-width:500px;">@item.Aciklama</td>
                                        <td>@item.Tarih</td>
                                        <td>
                                            @if (item.AktifMi)
                                            {
                                                <span class="label label-lg font-weight-bold label-light-success label-inline">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="label label-lg font-weight-bold label-light-danger label-inline">Pasif</span>
                                            }
                                        </td>  
                                        <td>
                                            <div class='list-icons'>
                                                <a href='#' style='float:left' data-toggle='tooltip' data-placement='bottom' title='Sil' onClick='javascript: siparisHareketSil(@item.SiparisHareketId);' class='btn  btn-icon-only yellow'><i class='la la-remove'></i></a>                                              
                                            </div>
                                        </td>
                                    </tr>
                                }
                                
                            </table>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="/Themes/Admin/dist/assets/plugins/custom/datatables/datatables.bundle.js?v=7.0.5"></script>
    <script src="/Themes/Admin/dist/assets/js/pages/crud/forms/widgets/bootstrap-switch.js?v=7.0.5"></script>

    <script>

        function siparisGuncelle() {
            var sendData = $('#_formSiparis').serializeObject();

            $.ajax({
                url: '/Admin/Satis/SiparisGuncelle',
                type: "Post",
                dataType: "json",
                data: sendData,            
                success: function (result) {
                    if (result == true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'İşlem Başarılı!',
                            text: '',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'İşlem Başarısız!',
                            text: 'Güncelleme sırasında bir hata ile karşılaşıldı',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        });
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    Swal.fire({
                        icon: 'error',
                        title: 'İşlem Başarısız!',
                        text: 'Güncelleme sırasında bir hata ile karşılaşıldı',
                        showCloseButton: true,
                        confirmButtonText: "Tamam",
                        cancelButtonText: "İptal",
                    });
                }
            });

        }

        function siparisHareketEkle() {
            var sendData = $('#_shFormEkle').serializeObject();

            $.ajax({
                url: '/Admin/Satis/SiparisHareketKaydet',
                type: "Post",
                dataType: "json",
                data: sendData,
                success: function (result) {
                    if (result == true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'İşlem Başarılı!',
                            text: '',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        }).then((result) => {
                            location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'İşlem Başarısız!',
                            text: 'Güncelleme sırasında bir hata ile karşılaşıldı',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        });
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    Swal.fire({
                        icon: 'error',
                        title: 'İşlem Başarısız!',
                        text: 'Güncelleme sırasında bir hata ile karşılaşıldı',
                        showCloseButton: true,
                        confirmButtonText: "Tamam",
                        cancelButtonText: "İptal",
                    });
                }
            });

        }

        function siparisHareketSil(id) {
            $.ajax({
                url: '/Admin/Satis/SiparisHareketSil',
                data: { id: id },
                type: "Post",
                success: function (result) {
                    if (result == true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'İşlem Başarılı!',
                            text: '',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        }).then((result) => {
                            location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'İşlem Başarısız!',
                            text: 'Silme işlemi sırasında bir hata ile karşılaşıldı',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        });
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    Swal.fire({
                        icon: 'error',
                        title: 'İşlem Başarısız!',
                        text: 'Silme işlemi sırasında bir hata ile karşılaşıldı',
                        showCloseButton: true,
                        confirmButtonText: "Tamam",
                        cancelButtonText: "İptal",
                    });
                }
            });
        }

        function siparisDetayDurum(id) {
            $.ajax({
                url: '/Admin/Satis/SiparisDetayDurum',
                data: { id: id },
                type: "Post",
                success: function (result) {
                    if (result == true) {
                        Swal.fire({
                            icon: 'success',
                            title: 'İşlem Başarılı!',
                            text: '',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        }).then((result) => {
                            location.reload();
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'İşlem Başarısız!',
                            text: 'Silme işlemi sırasında bir hata ile karşılaşıldı',
                            showCloseButton: true,
                            confirmButtonText: "Tamam",
                            cancelButtonText: "İptal",
                        });
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    Swal.fire({
                        icon: 'error',
                        title: 'İşlem Başarısız!',
                        text: 'Silme işlemi sırasında bir hata ile karşılaşıldı',
                        showCloseButton: true,
                        confirmButtonText: "Tamam",
                        cancelButtonText: "İptal",
                    });
                }
            });
        }

        function faturaTipSecim() {
            var faturaTipId = $('#FaturaTipId').val();

            if (faturaTipId == 1) {
                $('#rowFirma').css("display", "none");
            }
            else {
                $('#rowFirma').css("display", "flex");
            }
        }

        function shTemizle() {
            $('#shAciklama').val("");
            $('#shtarih').val("");
            $('#shAktifmi').prop("checked", true);
        }

        function sbTemizle() {
            location.reload();
        }

        $('#drpAdresIlFatura').change(function () {
            var id = $('#drpAdresIlFatura').val();
            $.ajax({
                url: "/Sepet/SepetAdresIlceGetir",
                type: "GET",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { id: id },
                success: function (result) {

                    $("#drpAdresIlceFatura").empty();
                    var select = document.getElementById("drpAdresIlceFatura");

                    if (result.length == 0) {
                        $("#drpAdresIlceFatura").append('<option value="" selected>Lütfen Seçiniz</option>');
                    }
                    else {
                        $(result).each(function () {
                            var option = document.createElement("option");
                            option.text = this.IlceAdi;
                            option.value = this.AdresIlceId;
                            select.appendChild(option);
                        });
                    }

                    $('.selectpicker').selectpicker('refresh');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("hata!");
                }
            });

        });

        $('#drpAdresIlGonderim').change(function () {
            var id = $('#drpAdresIlGonderim').val();
            $.ajax({
                url: "/Sepet/SepetAdresIlceGetir",
                type: "GET",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: { id: id },
                success: function (result) {

                    $("#drpAdresIlceGonderim").empty();
                    var select = document.getElementById("drpAdresIlceGonderim");

                    if (result.length == 0) {
                        $("#drpAdresIlceGonderim").append('<option value="" selected>Lütfen Seçiniz</option>');
                    }
                    else {
                        $(result).each(function () {
                            var option = document.createElement("option");
                            option.text = this.IlceAdi;
                            option.value = this.AdresIlceId;
                            select.appendChild(option);
                        });
                    }

                    $('.selectpicker').selectpicker('refresh');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("hata!");
                }
            });

        })

    </script>

    <script type="text/javascript">
        $(function () {
            $('#shtarih').datetimepicker({
                format: 'dd/mm/yyyy hh:ii',
            });
        });
    </script>

}

