@model IPagedList<NeSever.Common.Models.Uyelik.ArkadasKonusmaListesiVM>

<style type="text/css">
    .olymp-little-delete {
        width: 12px;
        height: 12px;
    }
</style>

<div id="ToplamMesajSayisi" hidden>0</div>
<div class="row">
    <div id="AliciId" hidden></div>
    @if (!Model.Any())
    {
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb80 pt80">
            <p>
                <h3>Mesaj Kutunuz Boş</h3>
            </p>
        </div>
    }
    else
    {
        <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12 padding-r-0">
            <ul class="notification-list chat-message">
                @foreach (var mesaj in Model)
                {
                    <li>
                        <div class="author-thumb">
                            <img src="@mesaj.ProfilResmiBase64" alt="author" style="max-height:24px; max-height:24px;">
                        </div>
                        <div class="notification-event">
                            <a href="javascript:;" id="@mesaj.KullaniciId" name="MesajDetay" class="h6 notification-friend" style="cursor:pointer;">@mesaj.KullaniciAdi</a>
                            <span class="chat-message-item">@mesaj.MesajOzet ...</span>
                            <span class="notification-date"><time class="entry-date updated">@mesaj.SonKonusmaTarihi.ToString("dd.MM.yyyy HH:mm")</time></span>
                        </div>
                        <span class="notification-icon">
                            <a href="javascript:;" id="@mesaj.KullaniciId" name="MesajDetay" style="cursor:pointer;">
                                <svg class="olymp-chat---messages-icon"><use xlink:href="#olymp-chat---messages-icon"></use></svg>
                            </a>
                        </span>
                        <div class="more">
                            <a href="javascript:;" id="@mesaj.KullaniciId" name="KonusmaSil">
                                <svg class="olymp-little-delete"><use xlink:href="#olymp-little-delete"></use></svg>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="col col-xl-7 col-lg-6 col-md-12 col-sm-12 col-12 padding-l-0">
            <div class="chat-field">
                <div id="MesajDetayContainer">

                </div>
            </div>
            <div id="MesajBox" hidden>
                <form id="arkadasMesajGonder">
                    <div class="form-group">
                        <textarea id="GidecekMesaj" name="GidecekMesaj" class="form-control count-chars" placeholder="Cevap yazınız..." maxlength="160" data-chars-max="160" data-msg-color="danger"></textarea>
                    </div>
                </form>
                <div class="add-options-message">
                    <button onclick="MesajGonder()" class="btn btn-primary btn-sm">Gönder</button>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="MesajGonder" tabindex="-1" role="dialog" aria-labelledby="fav-page-popup" aria-hidden="true">
    <div class="modal-dialog window-popup fav-page-popup" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
            </a>
            <div class="modal-header">
                <h6 class="title">Mesaj Gönder</h6>
            </div>

            <div id="MesajGonderModalBody" class="modal-body">

            </div>
        </div>
    </div>
</div>


@if (Model.Any())
{
    <nav aria-label="Page navigation">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("MesajlarPartial", new
        {
            p = page,
            q = Context.Request.Query["q"],
        }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions
        {
            UlElementClasses = new string[] { "pagination justify-content-center" },
            LiElementClasses = new string[] { "page-item" },
            ActiveLiElementClass = "page-item active",
            PageClasses = new string[] { "page-link" },
            EllipsesFormat = "<a class='page-link' style='padding:12px 0px 0px 0px; border:none;'>...</a>",
            Display = PagedListDisplayMode.Always,
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            MaximumPageNumbersToDisplay = 5,
            ContainerDivClasses = null,
        },
        new AjaxOptions
        {
            HttpMethod = "GET",
            UpdateTargetId = "targetElement",
            OnBegin = "onAjaxBegin",
            OnSuccess = "onAjaxSuccess",
            OnFailure = "onAjaxFailure"
        }))
    </nav>
}
<script src="/js/ajax-bootstrap-select.js"></script>
<script src="/js/ajax-bootstrap-select.tr-TR.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/js/site.js"></script>

<script>

    $(document).ready(function () {

        $('#mesajKutusuSayi').text('0');
        $('#mesajKutusuSayiMobil').text('0');
        

        var options = {
            ajax: {
                url: '/Arkadas/ArkadasAra',
                dataType: 'json',
                data: {
                    query: '{{{q}}}'
                }
            },
            locale: {
                emptyTitle: 'Arkadaş Ara...'
            },
            log: 3,
            preprocessData: function (data) {
                var i, l = data.length, array = [];
                if (l) {
                    for (i = 0; i < l; i++) {
                        array.push($.extend(true, data[i], {
                            text: data[i].Adi + " " + data[i].Soyadi,
                            value: data[i].ArkadasKullaniciId
                        }));
                    }
                }
                return array;
            },
            preserveSelected: false
        };

        $(".selectpickerArkadasMesajListesi")
            .selectpicker()
            .filter(".with-ajax")
            .ajaxSelectPicker(options);
        $("select").trigger("change");

        $('.selectpickerArkadasMesajListesi').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
            if (newValue===true) {
                var id = $(e.currentTarget).val();
                $.ajax({
                    url: "/Arkadas/MesajGonder",
                    type: "POST",
                    data: { "kullaniciId": id },
                    success: function (data) {
                        if (data === false) {
                            ShowModal();
                        } else {
                            $('#MesajGonderModalBody').html(data);
                            $('#MesajGonder').modal('show');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("hata3!");
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                });
            }
            
        });

        $("a").click(function (event) {
            var id = $(this)[0].id;
            if (id.length) {
                $('#AliciId').text(id);
            }
            if ($(this)[0].name === "MesajDetay") {
                MesajlarListesiPartialGetir(id);
            }

            if ($(this)[0].name === "KonusmaSil") {
                KonusmaSil(id);
            }

        });

        $("#arkadasMesajGonder").keypress(function (e) {
            if (event.key === "Enter") {
                MesajGonder();
            }
        });
        //document.addEventListener("keypress", function onEvent(event) {
        //    if (event.key === "Enter") {
        //        MesajGonder();
        //    }
        //});
    });

    
    $("#arkadasMesajGonder").validate({
        rules: {
            GidecekMesaj: {
                required: true,
                blankSpace: true,
            }
        },
        messages: {
            GidecekMesaj: {
                required: "Mesaj alanı boş bırakılamaz",
                blankSpace: "Mesaj alanı boş bırakılamaz.",
            }
        },
    });


    function MesajGonder() {
        if ($("#arkadasMesajGonder").valid()) {
            var alici = $('#AliciId');
            if (alici != null) {
                var mesaj = $('#GidecekMesaj').val();
                var id = alici.text();
                var vm = {
                    alanKullanici: id,
                    gidenMesaj: mesaj
                };
                $.ajax({
                    url: "/Arkadas/KullaniciMesajGonder",
                    type: "POST",
                    data: vm,
                    success: function (data) {
                        $('#GidecekMesaj').val("");
                        MesajlarListesiPartialGetir(id);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("hata!");
                    }
                });
            }
        }
    }

    function MesajYenile() {
        var alici = $('#AliciId');

        if (alici != null) {
            var id = alici.text();
            MesajlarListesiPartialGetir(id);
        }
    }

    function KonusmaSil(id) {
        $.ajax({
            url: "/Arkadas/KonusmaSil",
            type: "POST",
            data: { "gonderenKullaniciId": id },
            success: function (data) {
                if (data.Type == 2) {
                    location.reload();
                }
                else {
                    $.ajax({
                        url: "/Kullanici/MesajlarPartial/?q=",
                        type: 'GET',
                        cache: false,
                        success: function (result) {
                            var middleContent = $('#middleContent');
                            middleContent.html('');
                            $('#middleContent').html(result);
                        }
                    });
                }              
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("hata!");
            }
        });
    }

    function MesajlarListesiPartialGetir(id) {
        $.ajax({
            url: "/Arkadas/MesajDetayGetir",
            type: "POST",
            data: { "gonderenKullaniciId": id },
            success: function (data) {
                if (data == false) {
                    location.reload();
                }
                else {
                    var middleContent = $('#MesajDetayContainer');
                    middleContent.html('');
                    middleContent.html(data);
                    $('#MesajScroll').scrollTop($('#MesajScroll')[0].scrollHeight);
                    $('#MesajBox').removeAttr('hidden');
                }                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("hata!");
            }
        });
    }

</script>

<script>

    function onAjaxBegin(data, status, xhr) {
        showLoading();
    }

    function onAjaxSuccess(data, status, xhr) {
        hideLoading();

        var middleContent = $('#middleContent');
        middleContent.html('');
        middleContent.html(data);
    }

    function onAjaxFailure(xhr, status, error) {
        $("#targetElement").html("<strong>İşlem sırasında bir hata oluştu:" + error + "<br />.</strong>");
    }

</script>

