@model NeSever.Common.Models.FrontEnd.MesajlarVM

<style type="text/css">
    .scroll {
        max-height: 400px;
        overflow-y: scroll;
    }
</style>

<div id="ToplamMesajSayisi" hidden>@Model.MesajList.Count</div>

@if (!Model.MesajList.Any())
{
    <div class="ui-block-title">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb80 pt80">
            <p>
                <h3>Mesaj Kutunuz Boş</h3>
            </p>
        </div>
        <a href="javascript:;" class="more" title="Yenile" onclick="MesajYenile();"><svg class="olymp-little-delete"><use xlink:href="#olymp-weather-refresh-icon" xlink:title="Yenile"></use></svg></a>
        @*<a href="javascript:;" class="more" title="Sil"><svg class="olymp-little-delete"><use xlink:href="#olymp-little-delete" xlink:title="Sil"></use></svg></a>*@
    </div>
}
else
{
    <div class="ui-block-title">
        <h6 class="title">
            @Model.KullaniciAd
        </h6>
        <a href="javascript:;" class="more" title="Yenile" onclick="MesajYenile();"><svg class="olymp-little-delete"><use xlink:href="#olymp-weather-refresh-icon" xlink:title="Yenile"></use></svg></a>
        @*<a href="javascript:;" class="more" title="Sil"><svg class="olymp-little-delete"><use xlink:href="#olymp-little-delete" xlink:title="Sil"></use></svg></a>*@
    </div>

    <div id="MesajScroll" class="scroll" data-mcs-theme="dark">
        <ul class="notification-list chat-message chat-message-field">

            @foreach (var mesaj in Model.MesajList)
            {
                <li>
                    <div id="AliciId" hidden>@mesaj.AliciKullanici.KullaniciId</div>
                    <div id="GondrenId" hidden>@mesaj.GonderenKullanici.KullaniciId</div>
                    @if (Model.KullaniciAd == @mesaj.GonderenKullanici.KullaniciAdi)
                    {
                        <div class="author-thumb">
                            <svg class="olymp-little-delete"><use xlink:href="#olymp-popup-left-arrow"></use></svg>
                        </div>
                    }
                    else
                    {
                        <div class="author-thumb">
                            <svg class="olymp-little-delete"><use xlink:href="#olymp-popup-right-arrow"></use></svg>

                        </div>
                    }
                    <div class="notification-event">
                        <div class="event-info-wrap">
                            <a href="javascript:;" class="h6 notification-friend">@mesaj.GonderenKullanici.KullaniciAdi</a>
                            <span style="position:absolute; right:20px;" class="notification-date"><time class="entry-date updated">@mesaj.KayitTarihi.ToString("dd.MM.yyyy HH:mm")</time></span>
                        </div>
                        <span class="chat-message-item">@mesaj.Mesaj</span>
                    </div>
                    <div class="more">
                        <a href="javascript:;" id="@mesaj.MesajId" name="MesajSil">
                            <svg class="olymp-little-delete"><use xlink:href="#olymp-little-delete"></use></svg>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
}

<script>
    $(document).ready(function () {
        $("a").click(function (event) {
            var id = $(this)[0].id;
            if ($(this)[0].name === "MesajSil") {
                MesajSil(id);
            }
        });

    });

    function MesajSil(id) {
        $.ajax({
            url: "/Arkadas/MesajSil",
            type: "POST",
            data: { "mesajId": id },
            success: function (data) {
                if (data.Type == 2) {
                    location.reload();
                }
                else {
                    var alici = $('#AliciId');
                    alicId = alici.text();
                    $.ajax({
                        url: "/Arkadas/MesajDetayGetir",
                        type: "POST",
                        data: { "gonderenKullaniciId": alicId },
                        success: function (data) {
                            if (data == false) {
                                location.reload();
                            }
                            else {
                                var modelCount = $(data).filter('#ToplamMesajSayisi').text();

                                if (parseInt(modelCount) > 0) {
                                    var middleContent = $('#MesajDetayContainer');
                                    middleContent.html('');
                                    middleContent.html(data);
                                    $('#MesajScroll').scrollTop($('#MesajScroll')[0].scrollHeight);
                                    $('#MesajBox').removeAttr('hidden');
                                }
                                else {
                                    var middleContent = $('#middleContent');
                                    middleContent.html('');
                                    $('#middleContent').html(data);
                                }
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log("hata!");
                        }
                    });
                }                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("hata!");
            }
        });
    }
</script>