@model NeSever.Common.Models.FrontEnd.ArkadasListesiModalVM

<style>
    a {
        color: black;
        background-color: transparent;
        text-decoration: none;
        font-weight: bold;
    }
</style>

@if (Model.ArkadasList.Any())
{
    @foreach (var item in Model.ArkadasList)
    {

        <div class="inline-items" style="margin-bottom:5px; position:relative;">
            <div class="author-thumb">
                <a href="/Kullanici/Profil/@item.KullaniciAdi" target="_blank">
                    <img src="@item.ProfilResmiBase64" style="width:40px; height:40px;" alt="author">
                </a>
            </div>
            <div class="h6 author-title" style="position:absolute; top:10%">
                <a href="/Kullanici/Profil/@item.KullaniciAdi" target="_blank">
                    <div>@item.KullaniciAdi</div>
                </a>
                <div style="float:left; color:black; font-weight:400;">@item.Adi @item.Soyadi</div>
            </div>
            <div style="position:absolute; top:10%; margin-left:250px;"><a href="javascript:;" onclick="BakilanProfilSil('@item.KullaniciAdi');" class="btn btn-danger btn-sm" >Sil</a></div>
        </div>

    }
    <br />
    <a href="javascript:;" onclick="TumunuSil();" class="btn btn-danger btn-sm" >Tümünü Sil</a>
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb80 pt40">
        <nav aria-label="Page navigation">
            @Html.PagedListPager((IPagedList)Model.ArkadasList, page => Url.Action("BakilanProfillerModalPartial",
            new
            {
                p = page,
                ap = Model.KullaniciAdi
            }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new PagedListRenderOptions
            {
                UlElementClasses = new string[] { "pagination justify-content-center" },
                LiElementClasses = new string[] { "page-item" },
                ActiveLiElementClass = "page-item active",
                PageClasses = new string[] { "page-link" },
                EllipsesFormat = "<a class='page-link' style='padding:12px 0px 0px 0px; border:none;'>...</a>",
                Display = PagedListDisplayMode.Always,
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                MaximumPageNumbersToDisplay = 5,
                ContainerDivClasses = null,
            },
            new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "targetElement",
                OnBegin = "onBaslat",
                OnSuccess = "onBasarili",
                OnFailure = "onHata"
            }))
        </nav>
    </div>
}

<script type="text/javascript">
    function onBaslat(data, status, xhr) {
        yukleGoster();
    }

    function onBasarili(data, status, xhr) {
        yukleBitir();

        var bakilanProfiller = $('#bakilanProfiller');
        bakilanProfiller.html('');
        bakilanProfiller.html(data);
    }

    function onHata(xhr, status, error) {
        $("#targetElement").html("<strong>İşlem sırasında bir hata oluştu:" + error + "<br/>.</strong>");
    }

    function BakilanProfilSil(kullaniciadi) {
        $.ajax({
            url: '/Kullanici/BakilanProfilSil',
            data: { kullaniciAdi: kullaniciadi },
            type: "Get",
            success: function (resultData) {
                if (resultData == true) {
                    $("#bakilan-profilleri-getir .modal-body #bakilanProfiller").load('/Kullanici/BakilanProfillerModalPartial/?ap=@Html.Raw(Model.KullaniciAdi)', function () {
                        $("#bakilan-profilleri-getir").modal("show");
                    });
                }
                else {
                    location.reload();
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function TumunuSil() {
        $.ajax({
            url: '/Kullanici/BakilanTumProfilleriSil',
            type: "Get",
            success: function (resultData) {
                if (resultData == true) {                 
                    $("#bakilan-profilleri-getir .modal-body #bakilanProfiller").load('/Kullanici/BakilanProfillerModalPartial/?ap=@Html.Raw(Model.KullaniciAdi)', function () {
                        $("#bakilan-profilleri-getir").modal("show");
                    });
                }
                else {
                    location.reload();
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
</script>