@using System.Linq
@model NeSever.Common.Models.Uyelik.KullaniciArkadasVM

<div class="main-header">
    <div class="content-bg-wrap bg-birthday"></div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                <div class="main-header-content">
                    <h1>Hiçbir doğum gününü kaçırma!</h1>
                    <p>
                        Hepsini takip et...
                    </p>
                </div>
            </div>
        </div>
    </div>

    <img class="img-bottom" src="/Uploads/Site/banner_dogum_gunu.png" alt="friends">
</div>

<div class="container">
    <div class="row">

        @{
            var dogumGunleriBugunOlanlar = Model != null ? Model.Arkadaslar.Where(x => x.DogumTarihi.Day == DateTime.Now.Day && x.DogumTarihi.Month == DateTime.Now.Month) : null;
        }
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Bugün</h6>
                    <a href="javascript:" name="mesajlar" class="items-round-little bg-dribbble">@dogumGunleriBugunOlanlar.Count()</a>
                </div>
            </div>
        </div>

        @if (dogumGunleriBugunOlanlar.Count() > 0)
        {
            @foreach (var arkadas in dogumGunleriBugunOlanlar)
            {
                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="ui-block">
                        <div class="birthday-item inline-items">
                            <div class="author-thumb">
                                <a href="/Kullanici/Profil/@arkadas.KullaniciAdi">
                                    <img src="@arkadas.ProfilResmiBase64" alt="author" style="max-height:42px; max-width:42px;" />
                                </a>
                            </div>
                            <div class="birthday-author-name">
                                <a href="/Kullanici/Profil/@arkadas.KullaniciAdi" class="h5 author-name">@arkadas.KullaniciAdi</a>
                                <div class="birthday-date">
                                    @arkadas.DogumTarihi.Day @AyGetir(arkadas.DogumTarihi.Month)
                                </div>
                            </div>
                            <a href="javascript:;" id="@arkadas.KullaniciId" name="MesajGonder" class="btn btn-sm bg-blue">Mesaj At</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="birthday-item inline-items">
                        <div class="author-thumb">
                            <img src="/Uploads/Site/empty_profile_photo.png" style="width:42px; height:42px;" alt="author">
                        </div>
                        <div class="birthday-author-name">
                            <a href="javascript:;" class="h6 author-name">Yok </a>
                        </div>
                    </div>
                </div>
            </div>
        }

        <hr />

        @for (int i = 1; i <= 12; i++)
        {
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        @switch (i)
                        {
                            default:
                            case 1:
                                <h6 class="title">Ocak</h6>
                                break;
                            case 2:
                                <h6 class="title">Şubat</h6>
                                break;
                            case 3:
                                <h6 class="title">Mart</h6>
                                break;
                            case 4:
                                <h6 class="title">Nisan</h6>
                                break;
                            case 5:
                                <h6 class="title">Mayıs</h6>
                                break;
                            case 6:
                                <h6 class="title">Haziran</h6>
                                break;
                            case 7:
                                <h6 class="title">Temmuz</h6>
                                break;
                            case 8:
                                <h6 class="title">Ağustos</h6>
                                break;
                            case 9:
                                <h6 class="title">Eylül</h6>
                                break;
                            case 10:
                                <h6 class="title">Ekim</h6>
                                break;
                            case 11:
                                <h6 class="title">Kasım</h6>
                                break;
                            case 12:
                                <h6 class="title">Aralık</h6>
                                break;
                        }
                    </div>
                </div>
            </div>

            var dogumGunleri = Model.Arkadaslar.Where(x => x.DogumTarihi.Month == i);

            @if (dogumGunleri.Any())
            {
                @foreach (var arkadas in dogumGunleri)
                {
                    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="ui-block">
                            <div class="birthday-item inline-items">
                                <div class="author-thumb">
                                    <a href="/Kullanici/Profil/@arkadas.KullaniciAdi">
                                        <img src="@arkadas.ProfilResmiBase64" alt="author" style="max-height:42px; max-width:42px;" />
                                    </a>
                                </div>
                                <div class="birthday-author-name">
                                    <a href="/Kullanici/Profil/@arkadas.KullaniciAdi" class="h5 author-name">@arkadas.KullaniciAdi</a>
                                    <div class="birthday-date">
                                        @arkadas.DogumTarihi.Day

                                        @switch (arkadas.DogumTarihi.Month)
                                        {
                                            default:
                                            case 1:
                                                <span class="title">Ocak</span>
                                                break;
                                            case 2:
                                                <span class="title">Şubat</span>
                                                break;
                                            case 3:
                                                <span class="title">Mart</span>
                                                break;
                                            case 4:
                                                <span class="title">Nisan</span>
                                                break;
                                            case 5:
                                                <span class="title">Mayıs</span>
                                                break;
                                            case 6:
                                                <span class="title">Haziran</span>
                                                break;
                                            case 7:
                                                <span class="title">Temmuz</span>
                                                break;
                                            case 8:
                                                <span class="title">Ağustos</span>
                                                break;
                                            case 9:
                                                <span class="title">Eylül</span>
                                                break;
                                            case 10:
                                                <hspan6 class="title">Ekim</hspan6>
                                                break;
                                            case 11:
                                                <span class="title">Kasım</span>
                                                break;
                                            case 12:
                                                <span class="title">Aralık</span>
                                                break;
                                        }
                                    </div>
                                </div>
                                <a href="javascript:;" id="@arkadas.KullaniciId" name="MesajGonder" class="btn btn-sm bg-blue">Mesaj At</a>
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="ui-block">
                        <div class="birthday-item inline-items">
                            <div class="author-thumb">
                                <img src="/Uploads/Site/empty_profile_photo.png" style="width:42px; height:42px;" alt="author">
                            </div>
                            <div class="birthday-author-name">
                                <a href="javascript:;" class="h6 author-name">Yok </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


<div class="modal fade" id="MesajGonder" tabindex="-1" role="dialog" aria-labelledby="fav-page-popup" aria-hidden="true">
    <div class="modal-dialog window-popup fav-page-popup" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
            </a>
            <div class="modal-header">
                <h6 class="title">Mesaj Gönder</h6>
            </div>

            <div id="MesajGonderModalBody" class="modal-body">

            </div>
        </div>
    </div>
</div>


@functions{
    public string AyGetir(int month)
    {
        string ay = "";
        switch (month)
        {
            case 1:
                ay = "Ocak";
                break;
            case 2:
                ay = "Şubat";
                break;
            case 3:
                ay = "Mart";
                break;
            case 4:
                ay = "Nisan";
                break;
            case 5:
                ay = "Mayıs";
                break;
            case 6:
                ay = "Temmuz";
                break;
            case 7:
                ay = "Ağustos";
                break;
            case 8:
                ay = "Eylül";
                break;
            case 9:
                ay = "Ekim";
                break;
            case 10:
                ay = "Kasım";
                break;
            case 11:
                ay = "Aralık";
                break;
            case 12:
                ay = "Ocak";
                break;
            default:
                break;
        }

        return ay;
    }
}

<script>
    $(document).ready(function () {
        $("a").click(function (event) {
            var id = $(this)[0].id;
            if ($(this)[0].name === "MesajGonder") {
                $.ajax({
                    url: "/Arkadas/MesajGonder",
                    type: "POST",
                    data: { "kullaniciId": id },
                    success: function (data) {
                        if (data == false) {
                            debugger;
                            ShowModal();
                        } else {
                            debugger;
                            $('#MesajGonderModalBody').html(data);
                            $('#MesajGonder').modal('show');
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("hata!");
                        console.log(textStatus);
                        console.log(errorThrown);
                    }
                });
            }
        });
    });

    function ShowModal() {
        $('#loginlink').modal('show');
    }
</script>