@model NeSever.Common.Models.Uyelik.KullaniciKisiselBilgiVM

<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Kişisel Bilgiler</h6>
    </div>
    <div class="ui-block-content">
        <form id="KisiselBilgiForm">
            <div class="row">

                <div class="col col-sm-12 col-12">
                    <div id="DogumGunuFloating" class="form-group">
                        <label class="control-label">Doğum Günü</label>
                        <br />
                        <div style="width: 30%; float: left;">
                            <select asp-for="@Model.DogumGun" class="form-control" style="padding:6px;">
                                <option value="">Gün</option>
                                @for (int gun = 1; gun <= 31; gun++)
                                {
                                    <option value="@gun">@gun</option>
                                }
                            </select>
                        </div>
                        <div style="width: 30%; float: left; ">
                            <select asp-for="DogumAy" class="form-control" style="padding:6px;">
                                <option value="">Ay</option>
                                @for (int ay = 1; ay <= 12; ay++)
                                {
                                    <option value="@ay">@ay</option>
                                }
                            </select>
                        </div>
                        <div style="width: 40%; float:left;">
                            <select asp-for="DogumYil" class="form-control" style="padding:6px;">
                                <option value="">Yıl</option>
                                @for (int yil = (DateTime.Now.Year - 17); yil >= 1900; yil--)
                                {
                                    <option value="@yil">@yil</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-12 col-12" style="margin-top:20px">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Şehir</label>
                        <select asp-for="KullaniciSehirId" asp-items="ViewBag.Sehirler" id="KullaniciSehir" class="selectpicker form-control">
                        </select>
                    </div>
                </div>

                <div class="col col-sm-12 col-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Cinsiyet</label>
                        <select asp-for="Cinsiyet" class="selectpicker form-control">
                            <option value="K">Kadın</option>
                            <option value="E">Erkek</option>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-12 col-12" style="display:none;">
                    <div id="AdFloating" class="form-group label-floating is-empty">
                        <label class="control-label">Ad</label>
                        <input asp-for="Adi" class="form-control" type="text">
                    </div>
                </div>

                <div class="col col-sm-12 col-12" style="display:none;">
                    <div id="SoyadFloating" class="form-group label-floating is-empty">
                        <label class="control-label">Soyad</label>
                        <input asp-for="Soyadi" class="form-control" placeholder="" type="text">
                    </div>
                </div>

                <div class="col col-sm-12 col-12" style="display:none;">
                    <div id="EpostaFloating" class="form-group label-floating is-empty">
                        <label class="control-label">E-posta</label>
                        <input asp-for="Eposta" class="form-control" placeholder="" type="email" readonly>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col col-sm-6 col-12">
                    <button class="btn btn-secondary btn-lg full-width" onclick="kisiselBilgiIptal();">İptal</button>
                </div>
                <div class="col col-sm-6 col-12">
                    <button onclick="KisiselBilgiKaydetGuncelle()" class="btn btn-primary btn-lg full-width">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="/Themes/FrontEnd/src/js/libs-init/libs-init.js"></script>
<script type="text/javascript">

    function KisiselBilgiKaydetGuncelle() {
        $("#KisiselBilgiForm").validate({
            rules: {              
                Cinsiyet: {
                    required: true,
                },
                DogumGun: {
                    required: true,
                    maxlength: 50
                },
                DogumAy: {
                    required: true,
                },
                DogumYil: {
                    required: true,
                },
            },
            messages: {              
                Cinsiyet: {
                    required: "Boş Geçilemez"
                },
                DogumGun: {
                    required: "*",
                },
                DogumAy: {
                    required: "*",
                },
                DogumYil: {
                    required: "*",
                },
            },
            submitHandler: function (form) {
                var kullaniciKisiselBilgiModel = $('#KisiselBilgiForm').serializeObject();
                $.ajax({
                    url: "/Kullanici/KisiselBilgiKaydetGuncelle",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: kullaniciKisiselBilgiModel,
                    success: function (data) {
                        if (data.Type == 1) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Başarılı!',
                                text: data.ErrorMessage,
                                confirmButtonText: "Tamam"
                            });
                            $('#IlkGirisKisiselBilgiler').modal('hide');
                        }
                        else if (data.Type == 2 && data.ErrorMessage == "session") {
                            location.reload();
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Upps',
                                text: data.ErrorMessage,
                                confirmButtonText: "Tamam"
                            })
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log("hata!");
                    }
                });
            }
        })
    }

    function kisiselBilgiIptal() {
        event.preventDefault();

        $('#IlkGirisKisiselBilgiler').modal('hide');
    };
</script>