@model NeSever.Common.Models.Icerik.HediyeKartIcerikGonderVM

<article class="hentry post has-post-thumbnail thumb-full-width private-event">
    <div class="private-event-head inline-items">

        @if (!string.IsNullOrEmpty(@Model.KullaniciProfilResimBase64))
        {<img src="@Model.KullaniciProfilResimBase64" alt="author" style="max-height: 100px; max-width: 200px; border-radius: 50%;">}
        else
        {
            <img src="/Uploads/Site/user_icon.png" alt="author">
        }

        <div class="author-date">
            <a class="h3 event-title" href="#">@Model.HediyeKartAdi</a>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-7 col-md-7 col-sm-12 col-12">
            <img src="@Model.ResimBase64" alt="photo">
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
            <div class="event-description">
                <div class="form-group label-floating is-empty">
                    <textarea asp-for="@Model.Aciklama" class="form-control" placeholder="" type="text" rows="2" disabled></textarea>
                    <span class="material-input"></span>
                </div>

            </div>
        </div>
    </div>

</article>

<script src="/js/ajax-bootstrap-select.js"></script>
<script src="/js/ajax-bootstrap-select.tr-TR.js"></script>
<script src="/Themes/FrontEnd/src/js/libs-init/libs-init.js"></script>