@model NeSever.Common.Models.Uyelik.KullaniciKayitVM

<style type="text/css">
    .checkbox .checkbox-material .check {
        border: 1px solid black;
    }

    .window-popup .form-group {
        margin-bottom: 15px;
    }
</style>

<div class="modal fade" id="registration-login-form-popup" tabindex="-1" role="dialog" aria-labelledby="registration-login-form-popup" aria-hidden="true">
    <div class="modal-dialog window-popup registration-login-form-popup" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
            </a>
            <div class="modal-body">
                <div class="registration-login-form" style="padding-left:10px; padding-top:0px; border-radius:5px; min-height:300px;">
                    <div class="title h6">NeSever'e Kayıt Olun</div>
                    <form id="UyeKayitForm" class="content" autocomplete="off" style="padding:10px">
                        <div class="row">
                            <div class="col col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding-right:5px;">
                                <div class="form-group label-floating">
                                    <label class="control-label">Ad</label>
                                    <input asp-for="KullaniciKayitAd" class="form-control">
                                </div>
                            </div>
                            <div class="col col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding-left:5px;">
                                <div class="form-group label-floating">
                                    <label class="control-label">Soyad</label>
                                    <input asp-for="KullaniciKayitSoyad" class="form-control">
                                </div>
                            </div>

                            <div class="col col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding-right:5px;">
                                <div class="form-group label-floating">
                                    <label class="control-label">Şifre</label>
                                    <input asp-for="KullaniciKayitSifre" type="password" class="form-control">
                                </div>
                            </div>
                            <div class="col col-6 col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding-left:5px;">
                                <div class="form-group label-floating">
                                    <label class="control-label">Şifre Tekrar</label>
                                    <input asp-for="KullaniciKayitSifreTekrar" type="password" class="form-control">
                                </div>
                            </div>

                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Kullanıcı Adı</label>
                                    <input asp-for="KullaniciKayitKullaniciAdi" class="form-control">
                                </div>
                            </div>
                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">E-posta</label>
                                    <input asp-for="KullaniciKayitEposta" class="form-control">
                                </div>
                            </div>

                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Doğum Tarihi</label>
                                    <br />
                                    <div style="width: 30%; float: left; ">
                                        <select asp-for="@Model.KullaniciKayitDogumGun" class="form-control">
                                            <option value="">Gün</option>
                                            @for (int gun = 1; gun <= 31; gun++)
                                            {
                                                <option value="@gun">@gun</option>
                                            }
                                        </select>
                                    </div>
                                    <div style="width: 30%; float: left; ">
                                        <select asp-for="KullaniciKayitDogumAy" class="form-control">
                                            <option value="">Ay</option>
                                            @for (int ay = 1; ay <= 12; ay++)
                                            {
                                                <option value="@ay">@ay</option>
                                            }
                                        </select>
                                    </div>
                                    <div style="width: 40%; float:left;">
                                        <select asp-for="KullaniciKayitDogumYil" class="form-control">
                                            <option value="">Yıl</option>
                                            @for (int yil = (DateTime.Now.Year - 17); yil >= 1900; yil--)
                                            {
                                                <option value="@yil">@yil</option>
                                            }
                                        </select>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                </div>

                                <div class="form-group label-floating is-select">
                                    <label class="control-label">Cinsiyet</label>
                                    <select asp-for="KullaniciKayitCinsiyet" class="form-control">
                                        <option value="">Lütfen Seçiniz...</option>
                                        <option value="K">Kadın</option>
                                        <option value="E">Erkek</option>
                                    </select>
                                </div>

                                <div class="remember" style="margin:0px 0px 15px 0px;">
                                    <div class="checkbox">
                                        <label>
                                            <input id="UyelikSozlesmesi" name="optionsCheckboxes" type="checkbox">
                                            Siteye ait <a href="javascript:;" style="display:inherit;" onclick="uyelikSozlesmesiGetir();">üyelik sözleşmesini</a> kabul ediyorum.
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-purple btn-lg full-width">Kaydol</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery.validator.addMethod("nospace", function (value, element) {
            return value.indexOf(" ") < 0 && value != "";
        }, "Boşluk Bırakılamaz");

        jQuery.validator.addMethod("alphanumeric", function (value, element) {
            return this.optional(element) || /^[\w._]+$/i.test(value);
        }, "Türkçe Karakter İçermeyen Harfler veya Rakamlar Girilebilir");
    })

    $("#UyeKayitForm").validate({
        rules: {
            KullaniciKayitAd: {
                required: true,
                maxlength: 20
            },
            KullaniciKayitSoyad: {
                required: true,
                maxlength: 20
            },
            KullaniciKayitSifre: {
                required: true,
                minlength: 6,
                maxlength: 20
            },
            KullaniciKayitSifreTekrar: {
                required: true,
                minlength: 6,
                maxlength: 20
            },
            KullaniciKayitKullaniciAdi: {
                required: true,
                maxlength: 20,
                minlength: 3,
                nospace: true,
                alphanumeric: true
            },
            KullaniciKayitEposta: {
                required: true,
                email: true,
                maxlength: 50
            },
            KullaniciKayitDogumGun: {
                required: true,
                maxlength: 50
            },
            KullaniciKayitDogumAy: {
                required: true,
            },
            KullaniciKayitDogumYil: {
                required: true,
            },
            KullaniciKayitCinsiyet: {
                required: true,
            }
        },
        messages: {
            KullaniciKayitAd: {
                required: "Boş Geçilemez",
                maxlength: "Karakter Sınırı Aşıldı"
            },
            KullaniciKayitSoyad: {
                required: "Boş Geçilemez",
                maxlength: "Karakter Sınırı Aşıldı"
            },
            KullaniciKayitSifre: {
                required: "Boş Geçilemez",
                minlength: "Şifreniz En Az 6 Hane Olmalı",
                maxlength: "Karakter Sınırı Aşıldı"
            },
            KullaniciKayitSifreTekrar: {
                required: "Boş Geçilemez",
                minlength: "Şifreniz En Az 6 Hane Olmalı",
                maxlength: "Karakter Sınırı Aşıldı"
            },
            KullaniciKayitKullaniciAdi: {
                required: "Boş Geçilemez",
                maxlength: "Karakter Sınırı Aşıldı",
                minlength: "Minimum 3 Karakter Olmalı"
            },
            KullaniciKayitEposta: {
                required: "Boş Geçilemez",
                email: "Yanlış E-posta Formatı",
                maxlength: "Karakter Sınırı Aşıldı"
            },
            KullaniciKayitDogumGun: {
                required: "*",
            },
            KullaniciKayitDogumAy: {
                required: "*",
            },
            KullaniciKayitDogumYil: {
                required: "*",
            },
            KullaniciKayitCinsiyet: {
                required: "Boş Geçilemez",
            }
        },
        submitHandler: function (form) {
            if (document.getElementById('UyelikSozlesmesi').checked) {

                if ($('#KullaniciKayitSifre').val() != $('#KullaniciKayitSifreTekrar').val()) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Uyarı!',
                        text: "",
                        html: 'Şifreler eşleşmiyor.',
                        confirmButtonText: "Tamam"
                    })
                    return;
                }

            var model = $('#UyeKayitForm').serializeObject();

            var emailKontrol = IsEmail($('#KullaniciKayitEposta').val());

            if (emailKontrol == false) {
                Swal.fire({
                    icon: 'warning',
                    title: 'E-posta',
                    text: "E-posta Formatı Yanlış.",
                    confirmButtonText: "Tamam"
                })
            }
            else {
                $.ajax({
                url: "/Kullanici/KullaniciKaydet",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: model,
                success: function (data) {
                    if (data.Type == 2 && data.ErrorMessage == "TurkceKarakter")
                    {
                        Swal.fire({
                            icon: 'error',
                            title: 'Kullanıcı Adı',
                            text: "Kullanıcı Adı Türkçe Karakter Veya Boşluk İçeremez. ",
                            confirmButtonText: "Tamam"
                        })
                    }
                    else if (data.Type == 2 && data.ErrorMessage == "MinLength") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Kullanıcı Adı',
                            text: "En az 3 karakter içermelidir.",
                            confirmButtonText: "Tamam"
                        })
                    }
                    else if (data.Type == 2 && data.ErrorMessage == "IlkUcKarakter") {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Kullanıcı Adı',
                            text: "İlk 3 karakterde \".\" veya \"_\" kullanılamaz.",
                            confirmButtonText: "Tamam"
                        })
                    }
                    else if (data.Type == 2) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Upps',
                            text: data.ErrorMessage,
                            confirmButtonText: "Tamam"
                        })
                    }
                    else if (data.Type == 1) {
                        if (data.Data.Token != null) {
                           window.location = '@Url.Action("Profil", "Kullanici")';
                        }
                        $("#UyeKayitForm").trigger('reset');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("hata!");
                }
                });
            }
         }else{
             Swal.fire({
                 icon: 'warning',
                 title: 'Uyarı!',
                 text: "",
                 html:'Kayıt olmak için <b>üyelik sözleşmesini</b> kabul etmeniz gerekli.',
                 confirmButtonText: "Tamam"
             })
         }
        }
    });

    function IsEmail(email) {
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(!regex.test(email)) {
           return false;
        }else{
           return true;
        }
    }
</script>