@model NeSever.Common.Models.Uyelik.ArkadaslarMenuVM

@{
    ViewData["Title"] = "Arkadaşlar";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@section Content {
    <div class="profile-settings-responsive">

        <a href="#" class="js-profile-settings-open profile-settings-open">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <div class="mCustomScrollbar" data-mcs-theme="dark">
            <div class="ui-block">
                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title"><a href="/Kullanici/Ayarlar">Arkadaşlar</a></h6>
                    </div>

                    <div class="ui-block-title">
                        <a href="javascript:" name="arkadasListesi" class="h6 title">Arkadaş Listesi</a>
                        <a href="javascript:" name="arkadasListesi" id="arkadasSayisiMobil" class="items-round-little bg-google">@Model.ArkadasSayisi</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="javascript:" name="arkadaslikIstekleri" class="h6 title">Arkadaşlık İstekleri</a>
                        <a href="javascript:" name="arkadaslikIstekleri" class="items-round-little bg-blue">@Model.ArkadasIstekleriSayisi</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="javascript:" name="dogumGunleri" class="h6 title">Doğum Günleri</a>
                        <a href="javascript:" name="dogumGunleri" class="items-round-little bg-birthday">@Model.DogumGunleri</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="javascript:" name="mesajlar" class="h6 title">Mesajlar</a>
                        <a href="javascript:" name="mesajlar" class="items-round-little bg-dribbble">@Model.MesajSayisi</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="javascript:" name="profilEngelListesi" class="h6 title">Profil Engel Listesi</a>
                        <a href="javascript:" name="profilEngelListesi" class="items-round-little bg-blue" id="profilEngelSayisiMobil">@Model.ProfilEngelSayisi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
            <div class="ui-block">
                <div class="your-profile">
                    <div class="ui-block-title">
                        <span><a href="/Kullanici/Arkadaslar">Arkadaşlar</a></span>
                    </div>
                    <div class="ui-block-title">
                        <a href="javascript:" name="arkadasListesi" class="h6 title">Arkadaş Listesi</a>
                        <a href="javascript:" name="arkadasListesi" id="arkadasSayisi"  class="items-round-little bg-google">@Model.ArkadasSayisi</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="javascript:" name="arkadaslikIstekleri" class="h6 title">Arkadaşlık İstekleri</a>
                        <a href="javascript:" name="arkadaslikIstekleri" class="items-round-little bg-blue">@Model.ArkadasIstekleriSayisi</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="javascript:" name="dogumGunleri" class="h6 title">Doğum Günleri</a>
                        <a href="javascript:" name="dogumGunleri" class="items-round-little bg-birthday">@Model.DogumGunleri</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="javascript:" name="mesajlar" class="h6 title">Mesajlar</a>
                        <a href="javascript:" name="mesajlar" class="items-round-little bg-dribbble">@Model.MesajSayisi</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="javascript:" name="profilEngelListesi" class="h6 title">Profil Engel Listesi</a>
                        <a href="javascript:" name="profilEngelListesi" class="items-round-little bg-blue" id="profilEngelSayisi">@Model.ProfilEngelSayisi</a>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $("[name='arkadasListesi']").on("click", function () {
                      var middleContent = $('#middleContent');
                      middleContent.html('');
                      middleContent.load('@Url.Action("ArkadasListesiPartial","Kullanici")');
                    });

                    $("[name='arkadaslikIstekleri']").on("click", function () {
                      var middleContent = $('#middleContent');
                      middleContent.html('');
                      middleContent.load('@Url.Action("ArkadaslikIstekleriPartial","Kullanici")');
                    });

                    $("[name='dogumGunleri']").on("click", function () {
                      var middleContent = $('#middleContent');
                      middleContent.html('');
                      middleContent.load('@Url.Action("DogumGunleriPartial","Kullanici")');
                    });

                    $("[name='mesajlar']").on("click", function () {
                      var middleContent = $('#middleContent');
                      middleContent.html('');
                      middleContent.load('@Url.Action("MesajlarPartial","Kullanici")');
                    });

                    $("[name='profilEngelListesi']").on("click", function () {
                      var middleContent = $('#middleContent');
                      middleContent.html('');
                      middleContent.load('@Url.Action("EngellenenProfilListesiPartial", "Kullanici")');
                    });
                });
            </script>
        </div>

        <div id="middleContent" class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function () {
        var url = window.location.href;
        var kelime = url.split('/');
        if (kelime[5] == "#arkadaslistesi") {
            arkadasListesiGetir();
        }
        else {
            secenekleriGetir();
        }

    });

    function arkadasListesiGetir() {
        var middleContent = $('#middleContent');
        middleContent.html('');
        middleContent.load('@Url.Action("ArkadasListesiPartial","Kullanici")');
        }

    function secenekleriGetir() {
        var middleContent = $('#middleContent');
        middleContent.html('');
        middleContent.load('@Url.Action("ArkadaslarSeceneklerPartial", "Kullanici")');
    }
    </script>
}
