@model NeSever.Common.Models.FrontEnd.ProfilVM
@{
    ViewData["Title"] = "Profil";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    var sayfaDurum = ViewBag.SayfaDurum;
}

@section Content {
    @if (string.IsNullOrEmpty(sayfaDurum))
    {
        <partial name="~/Views/Kullanici/Partials/KunyeResponsive.cshtml" model="Model.SolMenuData" />

        <div class="row">
            <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
                <partial name="~/Views/Kullanici/Partials/Kunye.cshtml" model="Model.SolMenuData" />
            </div>

            <div id="middleContent" class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            </div>
        </div>
        
        <script type="text/javascript" src="~/js/jquery.lazy.min.js"></script>

        <script type="text/javascript">

        $(document).ready(function () {
            var url = window.location.href;
            var kelime = url.split('/');
            if (kelime[5] == "#bildirim") {
                bildirimleriGetir();
            }
            else if (kelime[5] == "#arkadaslikistek") {
                arkadaslikIstekGetir();
            }
            else if (kelime[5] == "#mesajlar") {
                mesajlariGetir()
            }
            else if (kelime[5] == "#hediyekart") {
                hediyeKartlariniGetir()
            }
            else {
                hediyeSepetiGetir();
            }
        });

        function bildirimleriGetir() {
            var middleContent = $('#middleContent');
                middleContent.html('');
                middleContent.load('@Url.Action("BildirimlerPartial","Kullanici")');
            }

        function hediyeSepetiGetir() {
             var middleContent = $('#middleContent');
             middleContent.html('');
             @if (Model.UyeData.ArkadasProfil)
             {
                 <text>middleContent.load('/Kullanici/HediyeSepetiPartial/?ap=@Html.Raw(Model.UyeData.KullaniciAdi)', function () {  });</text>
             }
             else
             {
                 <text>middleContent.load('/Kullanici/HediyeSepetiPartial', function () {  });</text>
             }
            };

        function arkadaslikIstekGetir() {
            var middleContent = $('#middleContent');
            middleContent.html('');
            middleContent.load('@Url.Action("ArkadaslikIstekleriPartial", "Kullanici")');
        }

        function mesajlariGetir() {
            var middleContent = $('#middleContent');
            middleContent.html('');
            middleContent.load('@Url.Action("MesajlarPartial","Kullanici")');
        }

        function hediyeKartlariniGetir() {
            var middleContent = $('#middleContent');
            middleContent.html('');
            middleContent.load('@Url.Action("HediyeKartiPartial", "Kullanici")');
        }

        </script>
    }
    else
    {
        <div class="alert alert-custom alert-white alert-shadow gutter-b" role="alert">
            <div class="row">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 align-center pb80 pt80">
                    <p></p>
                    <h3>Bu profil gizlidir.</h3>
                    <p></p>
                    <h3>Geri dönmek için <a href="javascript:;" onclick="history.go(-1);">tıklayınız.</a></h3>
                    <p></p>
                </div>
            </div>
        </div>
    }

    @if (TempData["IlkGiris"] == "IlkGiris")
    {
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="modal fade" id="IlkGirisKisiselBilgiler" tabindex="-1" role="dialog" aria-labelledby="public-event" aria-hidden="true">
                <div class="modal-dialog window-popup event-private-public public-event" role="document">
                    <div class="modal-content">
                        <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                            <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
                        </a>
                        <div class="modal-body" id="ilkGirisKisiselBilgilerModalBody">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                var kisiselBilgiler = $('#ilkGirisKisiselBilgilerModalBody');
                kisiselBilgiler.html('');
                kisiselBilgiler.load('@Url.Action("FbVeyaGoogleIlkGiris", "Kullanici")');
                $('#IlkGirisKisiselBilgiler').modal('show');
            });
        </script>
    }

}
