@model IEnumerable<NeSever.Common.Models.Satis.SepetAdresVM>

@{
    var tip = ViewData["Tip"]?.ToString();
}

<div name="divAdresListesi" id="@(tip)" class="ui-block">
    <input id="@("hdn"+tip+"AdresId")" type="hidden" value="0" />

    <div class="ui-block-content">
        @if (Model.Any())
        {
            <div class="row">
                @foreach (var adres in Model)
                {
                    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="skills-item" style="border: 1px solid #d8dbe6; padding: 5px;">
                            <div class="skills-item-info">
                                <span class="skills-item-title">
                                    <span class="radio">
                                        <label style="margin-top:8px;">
                                            <input type="radio" id="@("rdBtn"+tip+adres.AdresId)" name="@("rdBtn"+tip)" title="Seç" value="@adres.AdresId">
                                            <b>@adres.AdresAdi</b>
                                        </label>
                                    </span>
                                </span>
                                <span class="skills-item-count">
                                    <span class="radio">
                                        <a href="javascript:;" class="btn text-black-50 btn-xs" onclick="adresSil('@adres.AdresId');">Sil</a>
                                        <a href="javascript:;" class="btn text-black-50 btn-xs" onclick="adresDuzenle('@adres.AdresId');">Düzenle</a>
                                    </span>
                                </span>
                            </div>
                            <div class="counter-friends">Fatura Tipi : @adres.FaturaTipAdi</div>
                            @switch (adres.FaturaTipId)
                            {
                                default:
                                case 1:
                                    <div class="counter-friends">@adres.TcNo</div>
                                    <div class="counter-friends">@(adres.Ad+ " " + adres.Soyad)</div>
                                    break;
                                case 2:
                                    <div class="counter-friends">@adres.TcNo</div>
                                    <div class="counter-friends">@(adres.Ad+ " " + adres.Soyad)</div>
                                    break;
                            }
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>
                Lütfen Adres Ekleyiniz.
            </p>
        }
    </div>
</div>

<script src="/Themes/FrontEnd/src/js/libs-init/libs-init.js"></script>
<script type="text/javascript">
    $("input[type=radio]").change(function () {

        var secilenRadioButon = this.name;
        var id = $('#' + this.id).val();

        switch (secilenRadioButon) {

            default:

                break;           
            case "rdBtnFatura":
                $('#hdnFaturaAdresId').val(id);
                break;
            case "rdBtnTeslimat":
                $('#hdnTeslimatAdresId').val(id);
                break;
        }
    });

    function adresEkle() {
        var popupModalContent = $('#popupModalContent');
        popupModalContent.html('');
        popupModalContent.load('@Url.Action("AdresDetayPartial", "Sepet")', function () {
            var popupModal = $("#popupModal");
            popupModal.modal('show');
        });
    }

    function adresSil(id) {
        Swal.fire({
            icon: 'warning',
            title: 'Seçtiğiniz Adres Silinecektir',
            text: "Emin misiniz?",
            confirmButtonText: "Evet",
            showCancelButton: true,
            cancelButtonText: "Hayır"
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "/Sepet/AdresSil/" + id,
                    type: "GET",
                    success: function (data) {
                        if (result.error == 'true') {
                            Swal.fire({
                                icon: 'danger',
                                title: 'Hata!',
                                text: "İşlem Sırasında Bir Hata Oluştu.",
                                confirmButtonText: "Tamam"
                            })
                        }

                        reloadAdresListesi();
                    }
                });
            }
        });
    }

    function adresDuzenle(id) {
        var popupModalContent = $('#popupModalContent');
        popupModalContent.html('');
        popupModalContent.load('/Sepet/AdresDetayPartial/' + id, function () {
            var popupModal = $("#popupModal");
            popupModal.modal('show');
        });
    }

    function reloadAdresListesi() {
        showLoading();
        $("[name='divAdresListesi']").each(function (i) {
            var tip = $(this).attr("id");
            if (typeof tip === "undefined") {
                tip = "";
            }
            var middleContent = $(this).parent();
            middleContent.html('');
            middleContent.load('/Sepet/AdresListesiPartial?tip=' + tip, function () { hideLoading(); });
        });
    }

    function showLoading() {
        $('#middleContent').loadingModal({ text: 'Lütfen Bekleyin...' });
        $('#middleContent').loadingModal('animation', 'cubeGrid');
    };

    function hideLoading(id) {
        $('#middleContent').loadingModal('destroy');
    };
</script>