@model IEnumerable<NeSever.Common.Models.Satis.SepetUrunVM>

<div class="row">
    @*style="max-height:200px; overflow-y:auto;"*@
    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="cart-main" style="overflow:auto; max-height:600px;">
            <table class="shop_table cart" style="overflow-x: auto;">
                <thead>
                    <tr>
                        <th class="product-thumbnail">ÜRÜN</th>
                        <th class="product-price">BİRİM FİYAT</th>
                        <th class="product-quantity">ADET</th>
                        <th class="product-subtotal">TOPLAM FİYAT</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var urun in Model)
                    {
                        <tr class="cart_item">
                            <td class="product-thumbnail">
                                <div class="cart-product__item">
                                    <a href="/Hediye/Detay/@urun.UrunId" class="product-thumb">
                                        <img src="@urun.Resim" alt="product" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
                                    </a>
                                    <div class="cart-product-content">
                                        <a href="/Hediye/Detay/@urun.UrunId" class="product-category">@urun.MarkaAdi</a>
                                        <a href="/Hediye/Detay/@urun.UrunId" class="h6 cart-product-title">@urun.UrunAdi</a>
                                    </div>
                                </div>
                            </td>

                            <td class="product-price">
                                <h6 class="price amount">@(urun.UrunBirimFiyat.ToString("#,##0.00"))&nbsp;TL</h6>
                            </td>

                            <td class="product-quantity">
                                <div class="form-group label-floating quantity">
                                    <span>@urun.Adet</span>
                                </div>
                            </td>

                            <td class="product-subtotal">
                                <h6 class="total amount">@(urun.UrunToplamFiyat.ToString("#,##0.00"))&nbsp;TL</h6>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>