@inject IHttpContextAccessor HttpContextAccessor
@using  NeSever.Common.Models.Uyelik;

@model NeSever.Common.Models.Satis.SepetIcerikVM

@{
    ViewData["Title"] = "Sepet";
    Layout = "~/Views/Shared/_Layout.cshtml";

    KullaniciVM kullaniciBilgileri = new KullaniciVM();
    if (Context.Session.GetString("Kullanici") != null && Context.Session.GetString("KullaniciBilgileri") != null)
    {
        kullaniciBilgileri = Newtonsoft.Json.JsonConvert.DeserializeObject<KullaniciVM>(Context.Session.GetString("KullaniciBilgileri"));
    }
}

<section>
    <div class="container">
        <div class="row">
            <div class="col col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
                @if (Context.Session.GetString("Kullanici") == null)
                {
                    <div class="align-center pb80 pt80">
                        <p>
                            <h3>Sepetinize ürün eklemek için giriş yapmalısınız.</h3>
                        </p>
                        <p>
                            <br />
                            <div class="row justify-content-md-center">
                                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <a href="/Kullanici/Islem" class="btn btn-secondary btn-lg full-width">Giriş Yap / Üye Ol</a>
                                </div>
                            </div>
                            <br />
                            <div class="row justify-content-md-center">
                                <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <a href="/Hediye/Ara?q=" class="btn btn-success btn-lg full-width">Alışverişe Devam Et</a>
                                </div>
                            </div>
                        </p>
                    </div>
                }
                else
                {
                    @if (Model.SepetUrunList.Any())
                    {
                        <div class="cart-main" style="overflow:auto; max-height:600px;">
                            <table class="shop_table cart" style="overflow-x: auto;">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">ÜRÜN</th>
                                        <th class="product-price">BİRİM FİYAT</th>
                                        <th class="product-quantity">ADET</th>
                                        <th class="product-subtotal">TOPLAM FİYAT</th>
                                        <th class="product-remove">SİL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var urun in Model.SepetUrunList)
                                    {
                                        <tr class="cart_item">
                                            <td class="product-thumbnail">
                                                <div class="cart-product__item">
                                                    <a href="/Hediye/Detay/@urun.UrunId" class="product-thumb js-zoom-image">
                                                        <img src="@urun.Resim" alt="product" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
                                                    </a>
                                                    <div class="cart-product-content">
                                                        <a href="/Hediye/Detay/@urun.UrunId" class="product-category">@urun.MarkaAdi</a>
                                                        <a href="/Hediye/Detay/@urun.UrunId" class="h6 cart-product-title">@urun.UrunAdi</a>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="product-price">
                                                <h6 class="price amount">@(urun.UrunBirimFiyat.ToString("#,##0.00"))&nbsp;TL</h6>
                                            </td>

                                            <td class="product-quantity">

                                                <div class="form-group label-floating quantity">
                                                    <label class="control-label">Adet</label>
                                                    <a href="javascript:;" class="quantity-minus" onclick="sepetUrunEksilt('@urun.UrunId');">&#8744;</a>
                                                    <input title="Adet" class="form-control" value="@urun.Adet" type="text" style="background-color:white;" readonly>
                                                    <a href="javascript:;" class="quantity-plus" onclick="sepetUrunArttir('@urun.UrunId');">&#8743;</a>
                                                </div>

                                            </td>

                                            <td class="product-subtotal">
                                                <h6 class="total amount">@(urun.UrunToplamFiyat.ToString("#,##0.00"))&nbsp;TL</h6>
                                            </td>

                                            <td class="product-remove">
                                                <a href="javascript:;" class="product-del remove" title="Sil" onclick="sepetUrunSil('@urun.UrunId');">
                                                    <svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon" xlink:title="Sil"></use></svg>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="4" class="actions">
                                            <a href="/Sepet" class="btn btn-blue btn-md">Sepeti Güncelle</a>
                                            <a href="/Sepet" class="btn btn-danger btn-md" onclick="sepetTemizle();">Sepeti Temizle</a>
                                            <a href="/Hediye/Ara?q=" class="btn btn-success btn-md">Alışverişe Devam Et</a>
                                        </td>

                                        <td colspan="4" class="actions">
                                            <div class="cart-subtotal">
                                                Sepet Toplam <span>@(Model.KdvDahilTutar.ToString("#,##0.00"))&nbsp;TL</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row mt-3">
                            <div class="col col-xl-5 ml-auto col-lg-5 col-md-6 col-sm-6 col-12">
                                <div class="crumina-module crumina-heading with-title-decoration">
                                    <h5 class="heading-title">Sipariş Toplamları</h5>
                                </div>

                                <ul class="order-totals-list">
                                    <li>
                                        Kdv Hariç Tutar <span>@(Model.KdvHaricTutar.ToString("#,##0.00"))&nbsp;TL</span>
                                    </li>
                                    <li>
                                        Kdv Tutarı <span>@(Model.KdvTutar.ToString("#,##0.00"))&nbsp;TL</span>
                                    </li>
                                    <li>
                                        Ara Toplam <span>@(Model.KdvDahilTutar.ToString("#,##0.00"))&nbsp;TL</span>
                                    </li>

                                    @if (Model.GonderimTutar != 0)
                                    {
                                        <li>
                                            Gönderim Ücreti
                                            <span>@(Model.GonderimTutar.ToString("#,##0.00"))&nbsp;TL</span>
                                        </li>
                                    }

                                    @if (Model.OdemeYontemiTutar != 0)
                                    {
                                        <li>
                                            Ödeme Yöntemi Ücreti <span>@(Model.OdemeYontemiTutar.ToString("#,##0.00"))&nbsp;TL</span>
                                        </li>
                                    }

                                    @if (Model.IndirimTutar != 0)
                                    {
                                        <li>
                                            İndirim <span>@(Model.IndirimTutar.ToString("#,##0.00"))&nbsp;TL</span>
                                        </li>
                                    }

                                    <li class="total">
                                        Ödenecek Tutar <span>@(Model.OdenecekTutar.ToString("#,##0.00"))&nbsp;TL</span>
                                    </li>
                                </ul>

                                <p>
                                    <a href="/Sepet/AdresOdemeTip" class="btn btn-purple btn-lg full-width">Ödeme Yap</a>
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="align-center pb80 pt80">
                            <p>
                                <h3>Sepetinizde ürün bulunmamaktadır.</h3>
                            </p>
                            <p>
                                <br />
                                <div class="row justify-content-md-center">
                                    <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <a href="/Hediye/Ara?q=" class="btn btn-success btn-lg full-width">Alışverişe Devam Et</a>
                                    </div>
                                </div>
                            </p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function sepetTemizle() {
        $.ajax({
            type: "GET",
            url: "/Sepet/SepetTemizle",
            success: function (result) {
                if (result.error == 'true') {
                    Swal.fire({
                        icon: 'danger',
                        title: 'Hata!',
                        text: "İşlem Sırasında Bir Hata Oluştu.",
                        confirmButtonText: "Tamam"
                    })
                }
                else {
                    window.location.reload();
                }
            },
        });
    }

    function sepetUrunArttir(id) {
        $.ajax({
            type: "GET",
            url: "/Sepet/SepetUrunArttir/" + id,
            success: function (result) {
                if (result.error == 'true') {
                    Swal.fire({
                        icon: 'danger',
                        title: 'Hata!',
                        text: "İşlem Sırasında Bir Hata Oluştu.",
                        confirmButtonText: "Tamam"
                    })
                }
                else {
                    window.location.reload();
                }
            },
        });
    }

    function sepetUrunEksilt(id) {
        $.ajax({
            type: "GET",
            url: "/Sepet/SepetUrunEksilt/" + id,
            success: function (result) {
                if (result.error == 'true') {
                    Swal.fire({
                        icon: 'danger',
                        title: 'Hata!',
                        text: "İşlem Sırasında Bir Hata Oluştu.",
                        confirmButtonText: "Tamam"
                    })
                }
                else {
                    window.location.reload();
                }
            },
        });
    }

    function sepetUrunSil(id) {
        $.ajax({
            type: "GET",
            url: "/Sepet/SepetUrunSil/" + id,
            success: function (result) {
                if (result.error == 'true') {
                    Swal.fire({
                        icon: 'danger',
                        title: 'Hata!',
                        text: "İşlem Sırasında Bir Hata Oluştu.",
                        confirmButtonText: "Tamam"
                    })
                }
                else {
                    window.location.reload();
                }
            },
        });
    }
</script>