@model NeSever.Common.Models.Satis.OdemeIcerikVM
@{
    ViewData["Title"] = "Odeme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    td {
        text-align: center !important;
        vertical-align: middle !important;
    }
</style>

<form id="OdemeForm" autocomplete="off">
    <input id="hdnFaturaAdresId" type="hidden" value="@Model.FaturaAdresId" />
    <input id="hdnGonderimAdresId" type="hidden" value="@Model.GonderimAdresId" />
    <input id="hdnOdemeTipId" type="hidden" value="@Model.SiparisOdemeTipId" />

    <section>
        <div class="container">
            <div class="row">
                <div class="col col-xl-7 col-lg-7 col-md-6 col-sm-6 col-12">
                    <div>
                        <a href="/Sepet" class="btn btn-primary btn-sm"><= Sepete Geri Dön</a>

                        <div class="crumina-module crumina-heading with-title-decoration">
                            <h5 class="heading-title">Sepetteki Ürünler</h5>
                        </div>

                        <partial name="~/Views/Sepet/Partials/SepettekiUrunler.cshtml" model="Model.SepetIcerik.SepetUrunList" />
                    </div>

                    <div style="margin:20px 0px 0px 0px;">
                        <div class="crumina-module crumina-heading with-title-decoration" style="margin-bottom:0px;">
                            <h5 class="heading-title">Sözleşmeler ve Formlar</h5>
                        </div>

                        <div class="row">
                            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div id="accordion" role="tablist" aria-multiselectable="false" class="accordion-faqs">
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne-2" style="padding:0px;">
                                            <h3 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne">
                                                    Ön Bilgilendirme Formu
                                                    <span class="icons-wrap">
                                                        <svg class="olymp-plus-icon"><use xlink:href="#olymp-plus-icon"></use></svg>
                                                        <svg class="olymp-accordion-close-icon"><use xlink:href="#olymp-accordion-close-icon"></use></svg>
                                                    </span>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div id="collapseOne-2" class="collapse show" role="tabpanel" aria-labelledby="headingOne-2" style="max-height:150px; overflow-y:auto; margin-bottom:0px;">
                                            @Html.Raw(Model.OnBilgilendirmeFormuIcerik)
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingOne-3" style="padding:0px;">
                                            <h3 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
                                                    Mesafeli Satış Sözleşmesi
                                                    <span class="icons-wrap">
                                                        <svg class="olymp-plus-icon"><use xlink:href="#olymp-plus-icon"></use></svg>
                                                        <svg class="olymp-accordion-close-icon"><use xlink:href="#olymp-accordion-close-icon"></use></svg>
                                                    </span>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div id="collapseOne-3" class="collapse show" role="tabpanel" aria-labelledby="headingOne" style="max-height:150px; overflow-y:auto; margin-bottom:0px;">
                                            @Html.Raw(Model.MesafeliSatisSozlesmesiIcerik)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 ml-auto">
                    <div class="crumina-module crumina-heading with-title-decoration">
                        <h5 class="heading-title">Sipariş Toplamları</h5>
                    </div>

                    <ul class="order-totals-list">
                        <li>
                            Kdv Hariç Tutar <span>@(Model.SepetIcerik.KdvHaricTutar.ToString("#,##0.00"))&nbsp;TL</span>
                        </li>
                        <li>
                            Kdv Tutarı <span>@(Model.SepetIcerik.KdvTutar.ToString("#,##0.00"))&nbsp;TL</span>
                        </li>
                        <li>
                            Ara Toplam <span>@(Model.SepetIcerik.KdvDahilTutar.ToString("#,##0.00"))&nbsp;TL</span>
                        </li>

                        @if (Model.SepetIcerik.GonderimTutar != 0)
                        {
                            <li>
                                Gönderim Ücreti <span>@(Model.SepetIcerik.GonderimTutar.ToString("#,##0.00"))&nbsp;TL</span>
                            </li>
                        }

                        @if (Model.SepetIcerik.OdemeYontemiTutar != 0)
                        {
                            <li>
                                Ödeme Yöntemi Ücreti <span>@(Model.SepetIcerik.OdemeYontemiTutar.ToString("#,##0.00"))&nbsp;TL</span>
                            </li>
                        }

                        @if (Model.SepetIcerik.IndirimTutar != 0)
                        {
                            <li>
                                İndirim <span>@(Model.SepetIcerik.IndirimTutar.ToString("#,##0.00"))&nbsp;TL</span>
                            </li>
                        }

                        <li class="total">
                            <input id="hdnOdenecekTutar" type="hidden" value="@Model.SepetIcerik.OdenecekTutar" />
                            Ödenecek Tutar <span>@(Model.SepetIcerik.OdenecekTutar.ToString("#,##0.00"))&nbsp;TL</span>
                        </li>
                    </ul>

                    <input type="hidden" asp-for="SiparisOdemeTipId" />
                    <input type="hidden" asp-for="KrediKartiAdSoyad" />
                    <input type="hidden" asp-for="KrediKartiNo" />
                    <input type="hidden" asp-for="KrediKartiCvv" />
                    <input type="hidden" asp-for="KrediKartiSonKullanmaTarihiAy" />
                    <input type="hidden" asp-for="KrediKartiSonKullanmaTarihiYil" />

                    Ödeme Yöntemi :
                    @switch (Model.SiparisOdemeTipId)
                    {
                        default:
                            <span>Ödeme Yöntemi Seçilmedi</span>
                            break;
                        case 1:
                            <span>Kredi Kartı</span>
                            break;
                        case 2:
                            <span>Banka Havalesi</span>
                            break;
                        case 3:
                            <span>Kapıda Ödeme</span>
                            break;
                    }
                    <br />
                    <br />

                    <div class="row">
                        <div class="col">
                            <div class="checkbox">
                                <label>
                                    <input id="sozlesmeKosulKabul" type="checkbox" name="optionsCheckboxes">
                                    <a href="javascript:;" onclick="onBilgilendirmeFormuGetir();">Ön Bilgilendirme Koşulları</a>'nı ve <a href="javascript:;" onclick="mesafeliSatisSozlesmesiGetir();">Mesafeli Satış Sözleşmesi</a>'ni okudum, onaylıyorum.
                                </label>
                            </div>
                        </div>

                        <button class="btn btn-purple btn-lg full-width">Sipariş Ver</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="sms"></div>
</form>

<script src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">
    function onBilgilendirmeFormuGetir() {
        var popupModalContent = $('#popupModalContent');
        var icerik = $('#collapseOne-2').html();
        var popupModal = $("#popupModal");

        popupModalContent.html('');       
        popupModalContent.html(icerik);        
        popupModal.modal('show');
    }

    function mesafeliSatisSozlesmesiGetir() {
        var popupModalContent = $('#popupModalContent');
        var icerik = $('#collapseOne-3').html();
        var popupModal = $("#popupModal");

        popupModalContent.html('');
        popupModalContent.html(icerik);
        popupModal.modal('show');
    }

    $("#OdemeForm").validate({
                    submitHandler: function (form) {

                            var faturaAdresId = $('#hdnFaturaAdresId').val();
                            var teslimatAdresId = $('#hdnGonderimAdresId').val();
                            if (faturaAdresId == '0' || teslimatAdresId == '0') {
                                Swal.fire({
                                icon: 'warning',
                                title: 'Uyarı!',
                                text: "",
                                html: 'Lütfen Geri Dönerek Adres Seçimi Yapınız.',
                                confirmButtonText: "Tamam"
                                });
                                return;
                            }

                            var odemeTip = $('#hdnOdemeTipId').val();
                            if (odemeTip == '0') {
                                Swal.fire({
                                icon: 'warning',
                                title: 'Uyarı!',
                                text: "",
                                html: 'Lütfen Ödeme Yöntemi Seçiniz.',
                                confirmButtonText: "Tamam"
                                });
                                return;
                            }

                            if ($('#sozlesmeKosulKabul').is(':checked')) {
                                var sendData = $('#OdemeForm').serializeObject();
                                sendData.FaturaAdresId = faturaAdresId;
                                sendData.GonderimAdresId = teslimatAdresId;
                                sendData.SiparisOdemeTipId = odemeTip;
                                sendData.OdenecekToplamTutar = $('#hdnOdenecekTutar').val();

                            $.ajax({
                                url: "/Sepet/OdemeYap",
                                type: "POST",
                                dataType: 'json',
                                data: sendData,
                                success: function (result) {
                                                        if (result.error == true) {
                                                            Swal.fire({
                                                            icon: 'error',
                                            title: 'Upps',
                                            text: result.message,
                                            confirmButtonText: "Tamam"
                                                            });
                                    }
                                    else if (result.type =="3D"){
                                        $("#sms").html(result.message);
                                    }
                                    else {
                                        window.location = result.location;
                                    }
                                },
                             });
                            }
                            else {
                                Swal.fire({
                                icon: 'warning',
                                title: 'Uyarı!',
                                text: "",
                                html: 'Ön Bilgilendirme Koşulları ve Mesafeli Satış Sözleşmesini Onaylamalısınız.',
                                confirmButtonText: "Tamam"
                                });
                            }
                        }
                    });
</script>
