
@{
    ViewData["Title"] = "ProgramAyarlari";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model NeSever.Common.Models.Program.AyarlarVM

<style>
    .ck-content {
        min-height: 300px !important;
        max-height: 300px !important;
    }
</style>

<div class="d-flex flex-row flex-column-fluid container">
    <div class="main d-flex flex-column flex-row-fluid">
        <div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
            <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-1">
                    <div class="d-flex align-items-baseline flex-wrap mr-5">
                        <h5 class="text-dark font-weight-bold my-1 mr-5">Ayarlar</h5>

                    </div>
                </div>
            </div>
        </div>


        <div class="content flex-column-fluid" id="kt_content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-custom gutter-b example example-compact">
                        <form id="_form" method="post">
                            <input id="hdnAyarlarId" type="hidden" value="@Model.AyarlarId" />
                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Uygulama Adı:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="UygulamaAd" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <label>Şirket Adı:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="SirketAd" />

                                        </div>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Uygulama Açıklama:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="UygulamaAciklama" multiple maxlength="500" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Şirket Açıklama:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="SirketAciklama" multiple maxlength="500" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Şirket Hakkımızda:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="SirketHakkimizda" multiple />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Şirket Adres:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="SirketAdres" />

                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Telefon 1:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="SirketTelefon1" />

                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Telefon 2:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="SirketTelefon2" />

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Fax 1:</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" asp-for="SirketFax1">

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Fax 2:</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" asp-for="SirketFax2">

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>E-Posta:</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" asp-for="SirketEposta">

                                        </div>
                                    </div>


                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label>Gönderilecek E-Posta Tanım:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="GonderilecekEpostaTanim" maxlength="500" multiple />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Gönderilecek E-Posta Kullanıcı Adı:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="GonderilecekEpostaKullaniciAdi" maxlength="100" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Gönderilecek E-Posta Host:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="GonderilecekEpostaHost" maxlength="100" />

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Gönderilecek E-Posta Şifre:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="GonderilecekEpostaSifre" maxlength="50" />

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Gönderilecek E-Posta Port:</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="" asp-for="GonderilecekEpostaPort" />

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Gönderilecek E-Posta Aktif Mi</label>
                                        <input asp-for="GonderilecekEpostaAktifMi" data-switch="true" type="checkbox" data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-4">
                                        <label>Meta KeyWords:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="MetaKeywords" maxlength="500" />

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Meta Desciprtion:</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="" asp-for="MetaDescription" maxlength="500" />

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Meta Title :</label>
                                        <input type="number" class="form-control" placeholder="" asp-for="MetaTitle" maxlength="500" />

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Başvuru Formu:</label>
                                        <div class="input-group">
                                            <div id="BasvuruFormu" style="width:100%">
                                                @Html.Raw(Model.BasvuruFormu)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Üyelik Sözleşmesi:</label>
                                        <div class="input-group">
                                            <div id="UyelikSozlesmesi" style="width:100%">
                                                @Html.Raw(Model.UyelikSozlesmesi)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Çerez Politikası:</label>
                                        <div class="input-group">
                                            <div id="CerezPolitikasi" style="width:100%">
                                                @Html.Raw(Model.CerezPolitikasi)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Aydınlatma Metni:</label>
                                        <div class="input-group">
                                            <div id="AydinlatmaMetni" style="width:100%;">
                                                @Html.Raw(Model.AydinlatmaMetni)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Sık Sorulan Sorular:</label>
                                        <div class="input-group">
                                            <div id="SikSorulanSorular" style="width:100%">
                                                @Html.Raw(Model.SikSorulanSorular)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Teslimat ve İade Şartları:</label>
                                        <div class="input-group">
                                            <div id="TeslimatIadeSartlari" style="width:100%">
                                                @Html.Raw(Model.TeslimatIadeSartlari)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Ön Bilgilendirme Formu:</label>
                                        <div class="input-group">
                                            <div id="OnBilgilendirmeFormu" style="width:100%">
                                                @Html.Raw(Model.OnBilgilendirmeFormu)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">* </span>Mesafeli Satış Sözleşmesi:</label>
                                        <div class="input-group">
                                            <div id="MesafeliSatisSozlesmesi" style="width:100%">
                                                @Html.Raw(Model.MesafeliSatisSozlesmesi)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">{0} </span>Ad Soyad Unvan</label><br />
                                        <label><span class="text-danger">{2} </span>Fatura Adres</label><br />
                                        <label><span class="text-danger">{4} </span>Telefon</label><br />
                                        <label><span class="text-danger">{6} </span>Toplam Adet</label><br />
                                        <label><span class="text-danger">{8} </span>Tarih</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label><span class="text-danger">{1} </span>E-posta</label><br />
                                        <label><span class="text-danger">{3} </span>Teslimat Adres</label><br />
                                        <label><span class="text-danger">{5} </span>Ödeme Şekli</label><br />
                                        <label><span class="text-danger">{7} </span>Toplam Tutar</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-3">
                                        <label>Url :</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="Url" maxlength="100" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Secure Url:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="SecureUrl" maxlength="100" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Facebook Hesap Url:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="FacebookHesapUrl" maxlength="100" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Twitter Hesap Url:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="TwitterHesapUrl" maxlength="100" />

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-3">
                                        <label>Instagram Hesap Url:</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="InstagramHesapUrl" maxlength="100" />

                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Keep Alive Time:</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="" asp-for="KeepAliveTime" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Clear Cache Time:</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="" asp-for="ClearCacheTime" />

                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Cookie Time:</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" placeholder="" asp-for="CookieTime" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-3">
                                        <label>SSL Aktif Mi?:</label>
                                        <div class="input-group">
                                            <input asp-for="SslAktifMi" data-switch="true" type="checkbox" data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" />


                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Cache Aktif Mi?:</label>
                                        <div class="input-group">
                                            <input asp-for="CacheAktifMi" data-switch="true" type="checkbox" data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Ip Bloklama Aktif Mi:</label>
                                        <div class="input-group">
                                            <input asp-for="IpBloklamaAktifMi" data-switch="true" type="checkbox" data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" />


                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Uygulama Aktif Mi?:</label>
                                        <div class="input-group">
                                            <input asp-for="UygulamaAktifMi" data-switch="true" type="checkbox" data-on-color="success" data-off-color="danger" data-on-text="Evet" data-off-text="Hayır" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label>Ip Blok Listesi :</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" asp-for="IpBlokListesi" maxlength="500" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="button" onclick="guncelle()" class="btn btn-success mr-2">Güncelle</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="/Themes/Admin/dist/assets/plugins/custom/ckeditor/ckeditor-classic.bundle.js?v=7.0.5"></script>
    <script src="/Themes/Admin/dist/assets/js/pages/crud/forms/widgets/bootstrap-switch.js?v=7.0.5"></script>
    <script src="/Themes/Admin/dist/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js?v=7.0.5"></script>
    <script type="text/javascript">
        function guncelle() {
            var data = new FormData($('#_form')[0]);
            data.append('AyarlarId', $('#hdnAyarlarId').val());
            data.append('UyelikSozlesmesi', UyelikSozlesmesiEditor.getData());
            data.append('CerezPolitikasi', CerezPolitikasiEditor.getData());
            data.append('AydinlatmaMetni', AydinlatmaMetniEditor.getData());
            data.append('BasvuruFormu', BasvuruFormuEditor.getData());
            data.append('SikSorulanSorular', SikSorulanSorularEditor.getData());
            data.append('TeslimatIadeSartlari', TeslimatIadeSartlariEditor.getData());
            data.append('OnBilgilendirmeFormu', OnBilgilendirmeFormuEditor.getData());
            data.append('MesafeliSatisSozlesmesi', MesafeliSatisSozlesmesiEditor.getData());
            $.ajax({
                url: '/Admin/Sistem/ProgramAyar',
                data: data,
                type: "Post",
                contentType: false,
                processData: false,
                success: function (result) {

                    Swal.fire({
                        title: 'İşlem Başarılı!',
                        text: "Ayarlar Güncellendi!",
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Kapat'
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

        jQuery(document).ready(function () {
            ClassicEditor.create(document.querySelector('#UyelikSozlesmesi'))
                .then(editor => {
                    UyelikSozlesmesiEditor = editor;
                });

            ClassicEditor.create(document.querySelector('#CerezPolitikasi'))
                .then(editor => {
                    CerezPolitikasiEditor = editor;
                });

            ClassicEditor.create(document.querySelector('#AydinlatmaMetni'))
                .then(editor => {
                    AydinlatmaMetniEditor = editor;
                });

            ClassicEditor.create(document.querySelector('#BasvuruFormu'))
                .then(editor => {
                    BasvuruFormuEditor = editor;
                });
            ClassicEditor.create(document.querySelector('#SikSorulanSorular'))
                .then(editor => {
                    SikSorulanSorularEditor = editor;
                });
            ClassicEditor.create(document.querySelector('#TeslimatIadeSartlari'))
                .then(editor => {
                    TeslimatIadeSartlariEditor = editor;
                });
            ClassicEditor.create(document.querySelector('#OnBilgilendirmeFormu'))
                .then(editor => {
                    OnBilgilendirmeFormuEditor = editor;
                });
            ClassicEditor.create(document.querySelector('#MesafeliSatisSozlesmesi'))
                .then(editor => {
                    MesafeliSatisSozlesmesiEditor = editor;
                });
        });
    </script>
}