@model NeSever.Common.Models.FrontEnd.AnasayfaVM
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @*<div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <partial name="~/Views/Shared/Partials/MainCategory.cshtml" model="@Model.KategoriIcerikList" />
        </div>*@
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <partial name="~/Views/Home/Partials/BannerIcerik.cshtml" model="@Model.BannerIcerikList" />
        </div>
    </div>
</div>

<div class="container" style="margin-top:10px">
    <div class="row">
        <partial name="~/Views/Shared/Partials/MainSearch.cshtml" model="@Model.KategoriIcerikList"/>
    </div>
</div>

<section class="blog-post-wrap pt-2">
    <div class="container">
        <div class="row sorting-container" id="posts-grid-1" data-layout="masonry">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 sorting-item community">
                <div class="ui-block">
                    <article class="hentry blog-post blog-post-v2">
                        <div class="post-thumb">
                            <a href="/Arkadas/Ara?q=">
                                <img src="/Uploads/Banner/banner_1.jpg" alt="photo">
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="~/Views/Home/Partials/KategoriBannerIcerik.cshtml" model="@Model.KategoriBannerIcerikList" />

<section class="pt-2">
    <div class="container">
        <div class="crumina-module crumina-heading with-title-decoration">
            <h5 class="heading-title">Trend Kadın Hediyeleri</h5>
        </div>
        <partial name="~/Views/Home/Partials/TrendHediyeIcerik.cshtml" model="@Model.TrendKadinUrunIcerikList" />
    </div>
</section>

<section class="pt-2">
    <partial name="~/Views/Home/Partials/MarkaIcerik.cshtml" model="@Model.MarkaIcerikList" />
</section>

<section class="pt-2">
    <div class="container">
        <div class="crumina-module crumina-heading with-title-decoration">
            <h5 class="heading-title">Trend Erkek Hediyeleri</h5>
        </div>
        <partial name="~/Views/Home/Partials/TrendHediyeIcerik.cshtml" model="@Model.TrendErkekUrunIcerikList" />
    </div>
</section>

<partial name="~/Views/Home/Partials/BlogKategoriIcerik.cshtml" model="@Model.BlogKategoriIcerikList" />

@*<section class="pt-1">
    <div class="container">
        <div class="crumina-module crumina-heading with-title-decoration">
            <h5 class="heading-title">Kart Gönder 
            <a href="/HediyeKart/Ara/" method="get"><span style="float:right; font-weight:100; color:black">Tümünü Gör</span></a></h5>
            
        </div>
        <partial name="~/Views/Home/Partials/HediyeKartIcerik.cshtml" model="@Model.HediyeKartIcerikList" />
    </div>
</section>*@

@section Scripts{
    <script src="~/js/jquery.lazy.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    $('.lazy').Lazy({
        scrollDirection: 'vertical',
        effect: 'fadeIn',
        visibleOnly: true,
        onError: function (element) {
            console.log('error loading ' + element.data('src'));
        }
    });
    </script>
}
